In [1]:
import requests 
import json
import os
from dotenv import load_dotenv
import pandas as pd
from pandas import json_normalize
import numpy as np
import sys
sys.path.append('src')
import apilast as als
import sqltools as sqt
import sqlalchemy as alch

In [2]:
load_dotenv()

True

In [3]:
keylast = os.getenv("keylast") #apikey de lastfm

In [4]:
l_user = 'sinatxester'

In [5]:
limit = 1000
lastuts = sqt.maxuts()
# lastuts = 1640351615 +1 
# lastuts = 1628946354

In [6]:
lastuts

1643917918

In [7]:
recenttracks = als.req_lastfm (l_user,limit,lastuts)

In [8]:
recenttracks.shape

(33, 7)

In [9]:
if recenttracks.shape[0] <= 10:
    display(recenttracks)
else:
    display(recenttracks.head(10))

,uts,artist,artist_mbid,album,album_mbid,title,track_mbid
0,1643926387,Cutting Crew,2aa79fa9-7ac0-443b-b250-18d67227a1cb,Broadcast,07e8751b-d8be-4d09-81e6-62cd27061c7e,(I Just) Died in Your Arms,00734dfa-a187-3b54-ad65-0d8e8694edfe
1,1643925937,Love of Lesbian,31ab8f5f-b5d7-41a2-80ef-13084aaf0eab,Maniobras de escapismo,057b2d8a-9765-4763-903b-16cbd6e8f9f5,Maniobras de escapismo,41bd6795-658b-4f57-8373-7f41d56787a5
2,1643925640,Extremoduro,,Iros Todos a Tomar Por Culo,3258dbc9-ca13-408c-a417-495ff7d91f07,Buscando una luna (live),
3,1643925484,Gossip,,Standing In The Way Of Control,004f358e-a0fc-4036-a2e9-975d3eae3db9,Fire With Fire,012a2502-6242-353c-a06f-8bd8967e3ca3
4,1643925378,Gossip,,That's Not What I Heard,6bf1663e-609b-4070-9d94-2fb2887ef055,Where The Girls Are,31c22d94-9ac1-353b-aa52-201301b8719c
5,1643925129,Quique González,27e948aa-6b38-4da2-acf6-8459964a130a,Personal,,No Te Arrepientas,
6,1643924984,Howe Gelb & A Band of Gypsies,be2df526-6f3f-47ca-9d4c-d8624a37e7c4,Alegrías,,One Diner Town,8ee8616b-8107-3fbc-9d2e-a789703a390a
7,1643924741,OBK,ecb620f5-7d8b-40e3-a4f0-b4db4842359c,Antropop,5d1c2bd5-3255-4002-9107-e638b4c8e5c0,Tú Sigue Así,17d7befa-b223-4424-9d60-584aa2a42402
8,1643924509,Vanexxa,3e7d2715-6603-4d12-804b-0e8d15136169,Se Rompe o Se Raja,c422b3bc-d3ed-450b-a2b7-7b0402d9cc14,Puedo Hacerlo Bien,7d5f0b13-8bdf-3c39-ab7e-f57ee1dd8ee9
9,1643924344,Triana,5edb4622-abe0-456e-9027-89879ad1de0d,Sombra y Luz,5286c9ec-a96d-3029-9e9f-474ef614affc,Vuelta A La Sombra Y A La Luz,51166f4a-042a-4156-8c34-6dee26c1d22a

In [10]:
for i,r in recenttracks.iterrows():
    sqt.insert_data(r.uts, r.artist, r.artist_mbid, r.album, r.album_mbid, r.title, r.track_mbid)

In [12]:
insertadas = sqt.insert_scro()
insertadas

   Filas Actualizadas
0                   0

In [16]:
os.listdir('../../Base de datos/00_musicablecero/scripts')

['act_scro_con_bib.sql',
 'albumneros.sql',
 'audio_temp.sql',
 'audio_temp_cumple.sql',
 'busca_gen.sql',
 'call_insertando.sql',
 'creac_listasrep.sql',
 'creac_listasrep_consumatorias.sql',
 'creac_listasrep_consumatorias_fem.sql',
 'creac_listasrep_Def.sql',
 'creac_listasrep_sinsumatorias.sql',
 'creac_listasrep_sinsumatorias_fem.sql',
 'cursores.sql',
 'datos_Temp.sql',
 'datos_Temp_cumple.sql',
 'drop_maxiartista.sql',
 'estadistics.sql',
 'fromunixtime.sql',
 'insertando.sql',
 'insert_res.sql',
 'insert_tag.sql',
 'insscro.sql',
 'pred.sql',
 'predicion.sql',
 'proc_insert_listasrep.sql',
 'proc_insert_Scro.sql',
 'proc_listado.sql',
 'rep_alb.sql',
 'stats.sql',
 'storedprocedure_insertarensitios.sql',
 'tag.sql',
 'temasenlistas.sql',
 'temp_norep.sql',
 'update_scro.sql',
 'yaguismo.sql',
 'yauismogen.sql']

In [22]:
#updates manuales... no sé si hacer función
passw = os.getenv("mysql")
dbName = "musicablecero"
connectionData = f"mysql+pymysql://root:{passw}@localhost/{dbName}"
engine = alch.create_engine(connectionData)
#Base de datos\00_musicablecero\scripts
file = open('../../Base de datos/00_musicablecero/scripts/update_scro.sql')
escaped_sql = alch.text(file.read())
engine.execute(escaped_sql)

ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'update scrobbling set artist = 'Robe' where artist = 'Robe.';\nupdate scrobbling ' at line 2")
[SQL: update scrobbling set artist = 'Juan Luis Guerra y 4.40' where album = 'Bachata Rosa' and artist = 'Juan Luis Guerra';
update scrobbling set artist = 'Robe' where artist = 'Robe.';
update scrobbling set title = "Can't Hold Us Down (ft. Lil' Kim)" where artist = 'Christina Aguilera' and title = "Can't Hold Us Down";
update scrobbling set title = 'Satisfaction' where title = "(I Can't Get No) Satisfaction" and album = 'Out of Our Heads';
update scrobbling set artist = 'Loquillo Y Trogloditas' where artist = 'Loquillo Y Los Trogloditas';
update scrobbling set album = null where album = '';
update scrobbling set title = 'La Senda Del Tiempo (directo)' where title = 'La Senda Del Tiempo' and album = 'Nos vemos en los bares';
update scrobbling set title = 'Shake It Out (Unplugged)' where title = 'Shake It Out (Acoustic)' and album  = 'MTV Unplugged';
update scrobbling set title = "You've Got the Love (Fraser T. Smith's Mix)" where title = "You've Got The Love (Fraser T Smith's Mix)" and album = 'Lungs';
update scrobbling set title = 'Time After Time (Live)' where title = 'Time After Time (Live) (Live Australia)' and album = 'Live From Australia' and artist = 'Matchbox Twenty';
]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [21]:
escaped_sql