In [13]:
from dotenv import load_dotenv
import pandas as pd
import sqlalchemy as alch
import os
import dotenv
import pandas as pd
import sys
sys.path.append('src')
import apilast as als
import sqltools as sqt

In [14]:
dotenv.load_dotenv()

True

In [15]:
passw = os.getenv("mysql")
dbName = "musicablecero"
connectionData = f"mysql+pymysql://root:{passw}@localhost/{dbName}"
engine = alch.create_engine(connectionData)

# Carga de datos desde csv

In [16]:
newalb = pd.read_csv('sql_data/new_alb/lanabb.csv',sep=';')

In [17]:
newalb.head(3)

,Artist,Album,Title,Track,released,secs,kbs,creado,folder,archivo,tipo,bitrate
0,Lana Del Rey,Blue Banisters,Text Book,1,2021,303,"11902,84",2022-01-09 18:48:42,"H:\Music\Indie, Rock Alt, Grunge\Lana del rey\...",01 Text Book.mp3,mp3,320
1,Lana Del Rey,Blue Banisters,Blue Banisters,2,2021,294,"11530,41",2022-01-09 18:49:00,"H:\Music\Indie, Rock Alt, Grunge\Lana del rey\...",02 Blue Banisters.mp3,mp3,320
2,Lana Del Rey,Blue Banisters,Arcadia,3,2021,263,"10347,74",2022-01-09 18:49:21,"H:\Music\Indie, Rock Alt, Grunge\Lana del rey\...",03 Arcadia.mp3,mp3,320

In [18]:
newalb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Artist    15 non-null     object
 1   Album     15 non-null     object
 2   Title     15 non-null     object
 3   Track     15 non-null     int64
 4   released  15 non-null     int64
 5   secs      15 non-null     int64
 6   kbs       15 non-null     object
 7   creado    15 non-null     object
 8   folder    15 non-null     object
 9   archivo   15 non-null     object
 10  tipo      15 non-null     object
 11  bitrate   15 non-null     int64
dtypes: int64(4), object(8)
memory usage: 1.5+ KB

In [19]:
newalb.kbs = newalb.kbs.replace(',','.',regex=True).astype('float') #siempre hay que convertir comas en puntos y luego a float

In [20]:
newalb.columns

Index(['Artist', 'Album', 'Title', 'Track', 'released', 'secs', 'kbs',
       'creado', 'folder', 'archivo', 'tipo', 'bitrate'],
      dtype='object')

## insertar en mysql

### ejemplo para insertar
```PYTHON
f"""
INSERT INTO tag ('artist', 'album', 'title', 'Track', 'released', 'secs', 'kbs','creado', 'folder', 'archivo','tipo','bitrate')
VALUES("{Artist}", "{Album}", "{Title}", {Track}, {released}, {secs}, {kbs},"{creado}", "{folder}", "{archivo}", "{tipo}", {bitrate})
"""
```

In [21]:
for i,r in newalb.iterrows():
    sqt.insert_newalb(r.Artist, r.Album, r.Title, r.Track, r.released, r.secs, r.kbs, r.creado,r.folder, r.archivo,r.tipo, r.bitrate)

In [22]:
newalbdos = pd.read_csv('sql_data/new_alb/cutinc.csv',sep=';')

In [23]:
newalbdos.kbs = newalbdos.kbs.replace(',','.',regex=True).astype('float')

In [24]:
for i,r in newalbdos.iterrows():
    sqt.insert_newalb(r.Artist, r.Album, r.Title, r.Track, r.released, r.secs, r.kbs, r.creado,r.folder, r.archivo,r.tipo, r.bitrate)

# Actualizamos datos en mysql

In [ ]:
#select artist para ver si existe

In [ ]:
# select max(id_tag) into @maxtag from tag where id_can is not null;
# select * from tag where id_tag > @maxtag;

In [31]:
art_name = newalbdos.Artist.unique()[0]

In [33]:
list(engine.execute(f"""
                    select * from artistas where artist = '{art_name}';
                    """))

[]

In [ ]:
maxtag = list(engine.execute(f"""
                    select max(id_tag)from tag where id_can is not null;
                    """))[0][0]

In [ ]:
maxtag

In [ ]:
pd.read_sql_query(f"""
                   
                    select * from tag where id_tag > {maxtag};
                    """
                    , engine)

### Ejemplos de querys:

```PYTHON
list(engine.execute(f"""
                    SELECT idartists FROM artists WHERE artist = "{value}";
                    """))
```

```PYTHON
pd.read_sql_query(
"""
SELECT customer_id, first_name, last_name
FROM customer
WHERE customer_id = (SELECT MAX(customer_id) FROM customer);
"""
, engine)
```