In [5]:
import os
import pandas as pd
import requests
import sys
sys.path.append('../src')
import apilast as als
import sqltools as sqt
from PIL import Image
import sqlalchemy as alch

In [6]:
passw = os.getenv("mysql")
dbName = "musicablecero"
connectionData = f"mysql+pymysql://root:{passw}@localhost/{dbName}"
engine = alch.create_engine(connectionData)

In [7]:
l_user = 'sinatxester'
limit = 1000
uts_num = sqt.maxuts() + 1
keylast = os.getenv("keylast")

``` PYTHON
engine.execute(f"""
                    INSERT INTO scrobbling (uts, artist, artist_mbid, album, album_mbid, title, track_mbid)
                    VALUES ({uts}, "{artist}", "{artist_mbid}", "{album}", "{album_mbid}", "{title}","{track_mbid}");
                    """)

 
pd.read_sql_query(f"""
        SELECT * FROM {tabla} ;
        """
        , engine)

```

In [18]:
new_alb = pd.read_csv('../sql_data/new_alb/lanabb.csv',sep=';')

In [19]:
new_alb.sample(5)

,Artist,Album,Title,Track,released,secs,kbs,creado,folder,archivo,tipo,bitrate
0,Lana Del Rey,Blue Banisters,Text Book,1,2021,303,"11902,84",2022-01-09 18:48:42,"H:\Music\Indie, Rock Alt, Grunge\Lana del rey\...",01 Text Book.mp3,mp3,320
8,Lana Del Rey,Blue Banisters,Dealer,9,2021,274,"10773,25",2022-01-09 18:50:37,"H:\Music\Indie, Rock Alt, Grunge\Lana del rey\...",09 Dealer.mp3,mp3,320
1,Lana Del Rey,Blue Banisters,Blue Banisters,2,2021,294,"11530,41",2022-01-09 18:49:00,"H:\Music\Indie, Rock Alt, Grunge\Lana del rey\...",02 Blue Banisters.mp3,mp3,320
7,Lana Del Rey,Blue Banisters,Violets for Roses,8,2021,255,"10021,29",2022-01-09 18:50:22,"H:\Music\Indie, Rock Alt, Grunge\Lana del rey\...",08 Violets for Roses.mp3,mp3,320
6,Lana Del Rey,Blue Banisters,Beautiful,7,2021,216,"8486,52",2022-01-09 18:50:10,"H:\Music\Indie, Rock Alt, Grunge\Lana del rey\...",07 Beautiful.mp3,mp3,320

In [20]:
new_alb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Artist    15 non-null     object
 1   Album     15 non-null     object
 2   Title     15 non-null     object
 3   Track     15 non-null     int64
 4   released  15 non-null     int64
 5   secs      15 non-null     int64
 6   kbs       15 non-null     object
 7   creado    15 non-null     object
 8   folder    15 non-null     object
 9   archivo   15 non-null     object
 10  tipo      15 non-null     object
 11  bitrate   15 non-null     int64
dtypes: int64(4), object(8)
memory usage: 1.5+ KB

In [48]:
artist = new_alb['Artist'].unique()[0]

In [45]:
artist = 'Cutting Crew'

In [43]:
def check_newart(artist):
    if len(list(engine.execute(f"SELECT id_art FROM artistas where artist = '{artist}'"))) > 0:
        return f'{artist} already exists'
    else:
        return True

In [46]:
check_newart(artist)

False

In [51]:
#def insert_newart(artist):
    if check_newart(artist) == False:
        print('no existe')
    else:
        print(list(engine.execute(f"SELECT id_art FROM artistas where artist = '{artist}'"))[0][0])

1802

In [32]:
list(engine.execute(f"SELECT id_art FROM artistas where artist = '{artist}'"))

[]

In [22]:
artist

'Lana Del Rey'

In [ ]:
pd.read_sql_query(f' SELECT * FROM {tabla} ;', engine)