In [140]:
import sqlalchemy as alch
import os
import dotenv
dotenv.load_dotenv()
import pandas as pd
import sys
sys.path.append('../src')
import shutil

In [141]:
passw = os.getenv("mysql")
dbName = "musicablecero"
connectionData = f"mysql+pymysql://root:{passw}@localhost/{dbName}"
engine = alch.create_engine(connectionData)

In [142]:
# VARIABLES

In [143]:
query = """

select sc.id_can, sc.artist, sc.album, sc.title, art.genero, min(date(sc.fechahora)) as minfecha, max(date(sc.fechahora)) as maxfecha, count(sc.uts) as reps
from scrobbling sc left join artistas art on sc.artist = art.artist
where sc.fechahora >= "2023-08-26"
group by sc.id_can, sc.artist, sc.album, sc.title, art.genero
having reps >= 5
order by reps, minfecha
;

"""

In [146]:
list_name = "tengountractoramarillo"

In [147]:
# check list_name
if f'''{list_name}.m3u''' in os.listdir('../../../Music_listas/maslistas/'):
    print("NO SIGAS")
    print(os.listdir('../../../Music_listas/maslistas/'))
else:
    print("VAAAAMOOOOS")

VAAAAMOOOOS

In [148]:
lista_df = pd.read_sql_query(query, engine)
lista_df.head()

,id_can,artist,album,title,genero,minfecha,maxfecha,reps
0,18722,Gossip,Standing In The Way Of Control,Coal To Diamonds,indie,2023-08-26,2023-11-08,5
1,6888,Britney Spears,Femme Fatale,(Drop Dead) Beautiful (feat. Sabi),dance,2023-08-26,2023-11-09,5
2,19944,Los Secretos,Adiós Tristeza,Ojos De Gata,pop rock,2023-08-26,2023-11-18,5
3,13284,Arctic Monkeys,Favourite Worst Nightmare,505,britpop,2023-08-27,2023-12-09,5
4,1018,Madonna,True Blue,La Isla Bonita,dance,2023-08-27,2023-11-13,5

In [149]:
list_idcans = lista_df.id_can.unique().tolist()
len(list_idcans)

662

In [150]:
extraction_query = pd.read_sql_query(f'''
select id_can, artist, album, title, ruta, secs, tipo
from total where id_Can in {tuple(list_idcans)}
''',engine)

extraction = lista_df[["id_can"]].merge(extraction_query,how="left",on='id_can')
extraction["rutasion"] = extraction.ruta.str.replace('\\','/',regex=True).str.replace("H:","/mnt/h/",regex=True)
extraction.head()

,id_can,artist,album,title,ruta,secs,tipo,rutasion
0,18722,Gossip,Standing in the Way of Control,Coal To Diamonds,"H:\Music\Indie, Rock Alt, Grunge\Gossip\2006 S...",240,mp3,"/mnt/h//Music/Indie, Rock Alt, Grunge/Gossip/2..."
1,6888,Britney Spears,Femme Fatale,(Drop Dead) Beautiful (Feat. Sabi),"H:\Music\Pop, Pop Dance, Club\Britney Spears\2...",216,mp3,"/mnt/h//Music/Pop, Pop Dance, Club/Britney Spe..."
2,19944,Los Secretos,Adiós Tristeza,Ojos de Gata,H:\Music\Pop Rock en español y movida\Los Secr...,219,mp3,/mnt/h//Music/Pop Rock en español y movida/Los...
3,13284,Arctic Monkeys,Favourite Worst Nightmare,505,"H:\Music\Britpop, Indie y rock alt británico\A...",253,mp3,"/mnt/h//Music/Britpop, Indie y rock alt britán..."
4,1018,Madonna,True Blue,La Isla Bonita,"H:\Music\Pop, Pop Dance, Club\Madonna\1986 Tru...",243,mp3,"/mnt/h//Music/Pop, Pop Dance, Club/Madonna/198..."

In [151]:

extraction.to_excel(f'../../../Music_listas/maslistas/{list_name}.xlsx')

In [152]:
#check if archivo exists
if f'''{list_name}.m3u''' in os.listdir('../../../Music_listas/maslistas/'):
    print('ya existe')
else:
    print("creamdp lista")
    file = open(f'../output/{list_name}.txt','w')
    file.write('#EXTM3U'+os.linesep)
    file.write(f'''#PLAYLIST:{list_name}'''+os.linesep)
    for i,r in extraction.iterrows():
        file.write(f'''#EXTINF:{r.secs}, {r.artist} - {r.album} - {r.title}'''+os.linesep)
        file.write(f'''{r.ruta} '''+os.linesep)
    file.close()
    pre, ext = os.path.splitext(file.name)
    os.rename(file.name, pre + '.m3u')
    src_file = f'''../output/{list_name}.m3u'''
    dest_file = f'''../../../Music_listas/maslistas/{list_name}.m3u'''
    shutil.copyfile(src_file,dest_file)

creamdp lista

In [153]:
index_nax_len = len(str(extraction.index.max()))
index_nax_len

3

In [154]:
extraction.head()

,id_can,artist,album,title,ruta,secs,tipo,rutasion
0,18722,Gossip,Standing in the Way of Control,Coal To Diamonds,"H:\Music\Indie, Rock Alt, Grunge\Gossip\2006 S...",240,mp3,"/mnt/h//Music/Indie, Rock Alt, Grunge/Gossip/2..."
1,6888,Britney Spears,Femme Fatale,(Drop Dead) Beautiful (Feat. Sabi),"H:\Music\Pop, Pop Dance, Club\Britney Spears\2...",216,mp3,"/mnt/h//Music/Pop, Pop Dance, Club/Britney Spe..."
2,19944,Los Secretos,Adiós Tristeza,Ojos de Gata,H:\Music\Pop Rock en español y movida\Los Secr...,219,mp3,/mnt/h//Music/Pop Rock en español y movida/Los...
3,13284,Arctic Monkeys,Favourite Worst Nightmare,505,"H:\Music\Britpop, Indie y rock alt británico\A...",253,mp3,"/mnt/h//Music/Britpop, Indie y rock alt britán..."
4,1018,Madonna,True Blue,La Isla Bonita,"H:\Music\Pop, Pop Dance, Club\Madonna\1986 Tru...",243,mp3,"/mnt/h//Music/Pop, Pop Dance, Club/Madonna/198..."

In [155]:
dest_path_parent = "../../../Music_listas/varios/"
dst_path = dest_path_parent + list_name + "/"
dst_path
os.mkdir(dst_path) 

for i, r in extraction.iterrows():
    or_path = r.rutasion
    zero_string = str(i+1).zfill(index_nax_len)
    dst_name = f"{zero_string}.{r.artist}-{r.album}-{r.title}.{r.tipo}".replace("/","")
    shutil.copyfile(or_path,dst_path+dst_name)