In [1]:
import sqlalchemy as alch
import os
import dotenv
dotenv.load_dotenv()
import pandas as pd
import sys
sys.path.append('../src')
import apilast as als
import sqltools as sqt
import requests
import datetime
import shutil

In [2]:
passw = os.getenv("mysql")
dbName = "musicablecero"
connectionData = f"mysql+pymysql://root:{passw}@localhost/{dbName}"
engine = alch.create_engine(connectionData)

In [3]:
# pd.read_sql_query('select * From scrobbling',engine)

In [4]:
temporadas = pd.read_sql_query('select * from temporadas where tipo = "datos"  and fem is False',engine)
temporadas

    id_tem    temporada      inicio         fin   tipo  fem
0        3  cumple_2010  2009-09-01  2010-08-31  datos    0
1        7   anual_2010  2010-01-01  2010-12-31  datos    0
2       13  cumple_2011  2010-09-01  2011-08-31  datos    0
3       19   anual_2011  2011-01-01  2011-12-31  datos    0
4       25  cumple_2012  2011-09-01  2012-08-31  datos    0
5       31   anual_2012  2012-01-01  2012-12-31  datos    0
6       37  cumple_2013  2012-09-01  2013-08-31  datos    0
7       43   anual_2013  2013-01-01  2013-12-31  datos    0
8       49  cumple_2014  2013-09-01  2014-08-31  datos    0
9       55   anual_2014  2014-01-01  2014-12-31  datos    0
10      61  cumple_2015  2014-09-01  2015-08-31  datos    0
11      67   anual_2015  2015-01-01  2015-12-31  datos    0
12      73  cumple_2016  2015-09-01  2016-08-31  datos    0
13      79   anual_2016  2016-01-01  2016-12-31  datos    0
14      85  cumple_2017  2016-09-01  2017-08-31  datos    0
15      91   anual_2017  2017-01-01  2017-12-31  datos    0
16      97  cumple_2018  2017-09-01  2018-08-31  datos    0
17     103   anual_2018  2018-01-01  2018-12-31  datos    0
18     109  cumple_2019  2018-09-01  2019-08-31  datos    0
19     115   anual_2019  2019-01-01  2019-12-31  datos    0
20     121  cumple_2020  2019-09-01  2020-08-31  datos    0
21     127   anual_2020  2020-01-01  2020-12-31  datos    0
22     133  cumple_2021  2020-09-01  2021-08-31  datos    0
23     139   anual_2021  2021-01-01  2021-12-31  datos    0

In [25]:
tempos = list(engine.execute(f'''
select distinct temporada from temporadas order by id_tem
'''))

In [26]:
tempos_list = [t[0] for t in tempos]

In [29]:
for t in tempos_list:
    tempo = t
    idtem_q = list(engine.execute(f'''
                  select id_tem from temporadas where temporada = '{tempo}'  
                    '''))[0][0]
    df = pd.read_sql_query(f'''
                   select  artist, album, title, ruta, secs
                    from total where id_Can in (select id_Can from listas_rep where id_tem = {idtem_q} order by id_lr);
                    ''',engine)
    if f'''{tempo}.m3u''' in os.listdir('../../../Music_listas/archivosm3u/'):
        print('ya existe')
    else:
        file = open(f'../output/{tempo}.txt','w')
        file.write('#EXTM3U'+os.linesep)
        file.write(f'''#PLAYLIST:{tempo}'''+os.linesep)
        for i,r in df.iterrows():
            file.write(f'''#EXTINF:{r.secs}, {r.artist} - {r.album} - {r.title}'''+os.linesep)
            file.write(f'''{r.ruta} '''+os.linesep)
        file.close()
        pre, ext = os.path.splitext(file.name)
        os.rename(file.name, pre + '.m3u')
        src_file = f'''../output/{tempo}.m3u'''
        dest_file = f'''../../../Music_listas/archivosm3u/{tempo}.m3u'''
        shutil.copyfile(src_file,dest_file)
        print(f'''{tempo} creado y copiado''')

Pri_2010_02 creado y copiado
Pri_2010_02_fem creado y copiado
cumple_2010 creado y copiado
cumple_2010_fem creado y copiado
oto_2010_04 creado y copiado
oto_2010_04_fem creado y copiado
anual_2010 creado y copiado
anual_2010_fem creado y copiado
inv_2011_01 creado y copiado
inv_2011_01_fem creado y copiado
pri_2011_02 creado y copiado
pri_2011_02_fem creado y copiado
cumple_2011 creado y copiado
cumple_2011_fem creado y copiado
ver_2011_03 creado y copiado
ver_2011_03_fem creado y copiado
oto_2011_04 creado y copiado
oto_2011_04_fem creado y copiado
anual_2011 creado y copiado
anual_2011_fem creado y copiado
inv_2012_01 creado y copiado
inv_2012_01_fem creado y copiado
pri_2012_02 creado y copiado
pri_2012_02_fem creado y copiado
cumple_2012 creado y copiado
cumple_2012_fem creado y copiado
ver_2012_03 creado y copiado
ver_2012_03_fem creado y copiado
oto_2012_04 creado y copiado
oto_2012_04_fem creado y copiado
anual_2012 creado y copiado
anual_2012_fem creado y copiado
inv_2013_01 creado y copiado
inv_2013_01_fem creado y copiado
pri_2013_02 creado y copiado
pri_2013_02_fem creado y copiado
cumple_2013 creado y copiado
cumple_2013_fem creado y copiado
ver_2013_03 creado y copiado
ver_2013_03_fem creado y copiado
oto_2013_04 creado y copiado
oto_2013_04_fem creado y copiado
anual_2013 creado y copiado
anual_2013_fem creado y copiado
inv_2014_01 creado y copiado
inv_2014_01_fem creado y copiado
pri_2014_02 creado y copiado
pri_2014_02_fem creado y copiado
cumple_2014 creado y copiado
cumple_2014_fem creado y copiado
ver_2014_03 creado y copiado
ver_2014_03_fem creado y copiado
oto_2014_04 creado y copiado
oto_2014_04_fem creado y copiado
anual_2014 creado y copiado
anual_2014_fem creado y copiado
inv_2015_01 creado y copiado
inv_2015_01_fem creado y copiado
pri_2015_02 creado y copiado
pri_2015_02_fem creado y copiado
cumple_2015 creado y copiado
cumple_2015_fem creado y copiado
ver_2015_03 creado y copiado
ver_2015_03_fem creado y copiado
oto_2015_04 creado y copiado
oto_2015_04_fem creado y copiado
anual_2015 creado y copiado
anual_2015_fem creado y copiado
inv_2016_01 creado y copiado
inv_2016_01_fem creado y copiado
pri_2016_02 creado y copiado
pri_2016_02_fem creado y copiado
cumple_2016 creado y copiado
cumple_2016_fem creado y copiado
ver_2016_03 creado y copiado
ver_2016_03_fem creado y copiado
oto_2016_04 creado y copiado
oto_2016_04_fem creado y copiado
anual_2016 creado y copiado
anual_2016_fem creado y copiado
inv_2017_01 creado y copiado
inv_2017_01_fem creado y copiado
pri_2017_02 creado y copiado
pri_2017_02_fem creado y copiado
cumple_2017 creado y copiado
cumple_2017_fem creado y copiado
ver_2017_03 creado y copiado
ver_2017_03_fem creado y copiado
oto_2017_04 creado y copiado
oto_2017_04_fem creado y copiado
anual_2017 creado y copiado
anual_2017_fem creado y copiado
inv_2018_01 creado y copiado
inv_2018_01_fem creado y copiado
pri_2018_02 creado y copiado
pri_2018_02_fem creado y copiado
cumple_2018 creado y copiado
cumple_2018_fem creado y copiado
ver_2018_03 creado y copiado
ver_2018_03_fem creado y copiado
oto_2018_04 creado y copiado
oto_2018_04_fem creado y copiado
anual_2018 creado y copiado
anual_2018_fem creado y copiado
inv_2019_01 creado y copiado
inv_2019_01_fem creado y copiado
pri_2019_02 creado y copiado
pri_2019_02_fem creado y copiado
cumple_2019 creado y copiado
cumple_2019_fem creado y copiado
ver_2019_03 creado y copiado
ver_2019_03_fem creado y copiado
oto_2019_04 creado y copiado
oto_2019_04_fem creado y copiado
anual_2019 creado y copiado
anual_2019_fem creado y copiado
inv_2020_01 creado y copiado
inv_2020_01_fem creado y copiado
pri_2020_02 creado y copiado
pri_2020_02_fem creado y copiado
cumple_2020 creado y copiado
cumple_2020_fem creado y copiado
ver_2020_03 creado y copiado
ver_2020_03_fem creado y copiado
oto_2020_04 creado y copiado
oto_2020_04_fem creado y copiado
anual_2020 creado y copiado
anual_2020_fem creado y copiado
inv_2021_01 creado y copiado
inv_2021_01_fem creado y copiado
pri_2021_02 creado y copiado
pri_2021_02_fem creado y copiado
cumple_2021 creado y copiado
cumple_2021_fem creado y copiado
ver_2021_03 creado y copiado
ver_2021_03_fem creado y copiado
oto_2021_04 creado y copiado
oto_2021_04_fem creado y copiado
ya existe
anual_2021_fem creado y copiado
inv_2022_01 creado y copiado
inv_2022_01_fem creado y copiado
pri_2022_02 creado y copiado
pri_2022_02_fem creado y copiado

In [5]:
tempo = 'anual_2021'

In [6]:
idtem_q = list(engine.execute(f'''
select id_tem from temporadas where temporada = '{tempo}'
'''))[0][0]

In [7]:
idtem_q

139

In [8]:
ejemplo= pd.read_sql_query(f'''
select  artist, album, title, ruta, secs
from total where id_Can in (select id_Can from listas_rep where id_tem = {idtem_q} order by id_lr);
''',engine)
ejemplo

,artist,album,title,ruta,secs
0,Los Delinqüentes,Recuerdos Garrapateros de la Flama y el Carril,Pirata Del Estrecho,H:\Music\V.A\Miscelánea\Los Delinqüentes - Pir...,264
1,La Pegatina,Xapomelön,Lacón con grelos,"H:\Music\Flamenco, Fusión, Música del mundo, r...",152
2,C. Tangana,El madrileño,"Ingobernable (feat. Gipsy Kings, Nicolas Reyes...","H:\Music\Hip hop, funky, R&B\C TANGANA\2021 El...",187
3,Traveling Wilburys,"Traveling Wilburys, Vol. 3",Where Were You Last Night?,"H:\Music\Country, Folk, singersongwritters\Tra...",186
4,Tuna Universitaria De Madrid,La Estudiantina Ronda,Tuna Compostelana,"H:\Music\Flamenco, Fusión, Música del mundo, r...",146
...,...,...,...,...,...
79,Harry Styles,Fine Line,Canyon Moon,"H:\Music\Pop, Pop Dance, Club\Harry Styles\201...",190
80,Love of Lesbian,V.E.H.N.,El sur (feat. Bunbury),H:\Music\Indie en español\Love of lesbian\2021...,268
81,Zahara,Puta,MERICHANE,H:\Music\Indie en español\Zahara\2021 Puta\02 ...,259
82,La Maravillosa Orquesta del Alcohol,Ninguna Ola,Colectivo Nostalgia,"H:\Music\Rock Ibérico, punkarra y rock latino\...",260
83,Billie Eilish,"When We All Fall Asleep, Where Do We Go?",bad guy,"H:\Music\Electronica, House, Chill out & Inndu...",194

In the extended M3U, additional directives are introduced that begin with “#” and end with a colon(:) if they have parameters. Given below is a list of directives for extended M3U.

    #EXTM3U - It is the file header indicating Extended M3U and must be first line of the file.
    #EXTENC: - Text encoding. It must be the 2nd line of the file.
    #EXTINF: - Used for track information and other additional properties.
    #PLAYLIST: - The title of the playlist
    #EXTGRP: - Begin name grouping
    #EXTALB: - Album information
    #EXTART: - Album artist
    #EXTGENRE - Album Genre
    #EXTM3A - Single file playlist for album tracks or chapters.
    #EXTBYT: - File size in bytes.
    #EXTBIN: - Binary data follows.
    #EXTIMG: - Logo, Cover or other images.

#EXTM3U
 
#EXTINF:111, Sample artist name - Sample track title
C:\Music\SampleMusic.mp3
 
#EXTINF:222,Example Artist name - Example track title
C:\Music\ExampleMusic.mp3

```python
file = open("/ruta/filename.txt", "w")
file.write("Primera línea" + os.linesep)
file.write("Segunda línea")
file.close()

shutil.copyfile(src, dst)
```

In [9]:
os.listdir('../output')

['anual_2021.m3u']

In [10]:
os.linesep

'\n'

In [11]:
tempo

'anual_2021'

In [14]:
#check if archivo exists
if f'''{tempo}.m3u''' in os.listdir('../../../Music_listas/archivosm3u/'):
    print('ya existe')
else:
    file = open(f'../output/{tempo}.txt','w')
    file.write('#EXTM3U'+os.linesep)
    file.write(f'''#PLAYLIST:{tempo}'''+os.linesep)
    for i,r in ejemplo.iterrows():
        file.write(f'''#EXTINF:{r.secs}, {r.artist} - {r.album} - {r.title}'''+os.linesep)
        file.write(f'''{r.ruta} '''+os.linesep)
    file.close()
    pre, ext = os.path.splitext(file.name)
    os.rename(file.name, pre + '.m3u')
    src_file = f'''../output/{tempo}.m3u'''
    dest_file = f'''../../../Music_listas/archivosm3u/{tempo}.m3u'''
    shutil.copyfile(src_file,dest_file)

ya existe

In [13]:
file = open(f'../output/{tempo}.txt','w')
file.write('#EXTM3U'+os.linesep)
file.write(f'''#PLAYLIST:{tempo}'''+os.linesep)
for i,r in ejemplo.iterrows():
    file.write(f'''#EXTINF:{r.secs}, {r.artist} - {r.album} - {r.title}'''+os.linesep)
    file.write(f'''{r.ruta} '''+os.linesep)
file.close()
pre, ext = os.path.splitext(file.name)
os.rename(file.name, pre + '.m3u')
src_file = f'''../output/{tempo}.m3u'''
dest_file = f'''../../../Music_listas/archivosm3u/{tempo}.m3u'''
shutil.copyfile(src_file,dest_file)

'../../../Music_listas/archivosm3u/anual_2021.m3u'

In [ ]:
os.listdir(f'''../output/{tempo}.mu3''',)

In [ ]:
pre

In [ ]:
os.listdir('../../../Music_listas/archivosm3u/')