In [1]:
import sqlalchemy as alch
import os
import dotenv
dotenv.load_dotenv()
import pandas as pd
import sys
sys.path.append('../src')
import apilast as als
import sqltools as sqt
import requests
import datetime

In [3]:
passw = os.getenv("mysql")
dbName = "musicablecero"
connectionData = f"mysql+pymysql://root:{passw}@localhost/{dbName}"
engine = alch.create_engine(connectionData)

In [6]:
# pd.read_sql_query('select * From scrobbling',engine)

In [12]:
temporadas = pd.read_sql_query('select * from temporadas where tipo = "datos"  and fem is False',engine)
temporadas

    id_tem    temporada      inicio         fin   tipo  fem
0        3  cumple_2010  2009-09-01  2010-08-31  datos    0
1        7   anual_2010  2010-01-01  2010-12-31  datos    0
2       13  cumple_2011  2010-09-01  2011-08-31  datos    0
3       19   anual_2011  2011-01-01  2011-12-31  datos    0
4       25  cumple_2012  2011-09-01  2012-08-31  datos    0
5       31   anual_2012  2012-01-01  2012-12-31  datos    0
6       37  cumple_2013  2012-09-01  2013-08-31  datos    0
7       43   anual_2013  2013-01-01  2013-12-31  datos    0
8       49  cumple_2014  2013-09-01  2014-08-31  datos    0
9       55   anual_2014  2014-01-01  2014-12-31  datos    0
10      61  cumple_2015  2014-09-01  2015-08-31  datos    0
11      67   anual_2015  2015-01-01  2015-12-31  datos    0
12      73  cumple_2016  2015-09-01  2016-08-31  datos    0
13      79   anual_2016  2016-01-01  2016-12-31  datos    0
14      85  cumple_2017  2016-09-01  2017-08-31  datos    0
15      91   anual_2017  2017-01-01  2017-12-31  datos    0
16      97  cumple_2018  2017-09-01  2018-08-31  datos    0
17     103   anual_2018  2018-01-01  2018-12-31  datos    0
18     109  cumple_2019  2018-09-01  2019-08-31  datos    0
19     115   anual_2019  2019-01-01  2019-12-31  datos    0
20     121  cumple_2020  2019-09-01  2020-08-31  datos    0
21     127   anual_2020  2020-01-01  2020-12-31  datos    0
22     133  cumple_2021  2020-09-01  2021-08-31  datos    0
23     139   anual_2021  2021-01-01  2021-12-31  datos    0

In [20]:
tempo = 'anual_2021'

In [27]:
idtem_q = list(engine.execute(f'''
select id_tem from temporadas where temporada = '{tempo}'
'''))[0][0]

In [28]:
idtem_q

139

In [31]:
ejemplo= pd.read_sql_query(f'''
select  artist, album, title, ruta, secs
from total where id_Can in (select id_Can from listas_rep where id_tem = {idtem_q} order by id_lr);
''',engine)
ejemplo

,artist,album,title,ruta,secs
0,Los Delinqüentes,Recuerdos Garrapateros de la Flama y el Carril,Pirata Del Estrecho,H:\Music\V.A\Miscelánea\Los Delinqüentes - Pir...,264
1,La Pegatina,Xapomelön,Lacón con grelos,"H:\Music\Flamenco, Fusión, Música del mundo, r...",152
2,C. Tangana,El madrileño,"Ingobernable (feat. Gipsy Kings, Nicolas Reyes...","H:\Music\Hip hop, funky, R&B\C TANGANA\2021 El...",187
3,Traveling Wilburys,"Traveling Wilburys, Vol. 3",Where Were You Last Night?,"H:\Music\Country, Folk, singersongwritters\Tra...",186
4,Tuna Universitaria De Madrid,La Estudiantina Ronda,Tuna Compostelana,"H:\Music\Flamenco, Fusión, Música del mundo, r...",146
...,...,...,...,...,...
79,Harry Styles,Fine Line,Canyon Moon,"H:\Music\Pop, Pop Dance, Club\Harry Styles\201...",190
80,Love of Lesbian,V.E.H.N.,El sur (feat. Bunbury),H:\Music\Indie en español\Love of lesbian\2021...,268
81,Zahara,Puta,MERICHANE,H:\Music\Indie en español\Zahara\2021 Puta\02 ...,259
82,La Maravillosa Orquesta del Alcohol,Ninguna Ola,Colectivo Nostalgia,"H:\Music\Rock Ibérico, punkarra y rock latino\...",260
83,Billie Eilish,"When We All Fall Asleep, Where Do We Go?",bad guy,"H:\Music\Electronica, House, Chill out & Inndu...",194

In the extended M3U, additional directives are introduced that begin with “#” and end with a colon(:) if they have parameters. Given below is a list of directives for extended M3U.

    #EXTM3U - It is the file header indicating Extended M3U and must be first line of the file.
    #EXTENC: - Text encoding. It must be the 2nd line of the file.
    #EXTINF: - Used for track information and other additional properties.
    #PLAYLIST: - The title of the playlist
    #EXTGRP: - Begin name grouping
    #EXTALB: - Album information
    #EXTART: - Album artist
    #EXTGENRE - Album Genre
    #EXTM3A - Single file playlist for album tracks or chapters.
    #EXTBYT: - File size in bytes.
    #EXTBIN: - Binary data follows.
    #EXTIMG: - Logo, Cover or other images.

#EXTM3U
 
#EXTINF:111, Sample artist name - Sample track title
C:\Music\SampleMusic.mp3
 
#EXTINF:222,Example Artist name - Example track title
C:\Music\ExampleMusic.mp3

```python
file = open("/ruta/filename.txt", "w")
file.write("Primera línea" + os.linesep)
file.write("Segunda línea")
file.close()
```

In [43]:
os.listdir('../output')

['anual_2021.txt']

In [40]:
os.linesep

'\n'

In [39]:
tempo

'anual_2021'

In [55]:
file = open(f'../output/{tempo}.txt','w')
file.write('#EXTM3U'+os.linesep)
file.write(f'''#PLAYLIST:{tempo}'''+os.linesep)
for i,r in ejemplo.iterrows():
    file.write(f'''#EXTINF:{r.secs}, {r.artist} - {r.album} - {r.title}'''+os.linesep)
    file.write(f'''{r.ruta} '''+os.linesep)
file.close()
pre, ext = os.path.splitext(file.name)
os.rename(file.name, pre + '.m3u')

In [56]:
os.listdir('../output')

['anual_2021.m3u']

In [52]:
pre

'../output/anual_2021'