In [1]:
import sqlalchemy as alch
import os
import dotenv
dotenv.load_dotenv()
import pandas as pd
import sys
sys.path.append('../src')
import apilast as als
import sqltools as sqt
import requests
import datetime
import shutil
from os import walk

In [2]:
passw = os.getenv("mysql")
dbName = "musicablecero"
connectionData = f"mysql+pymysql://root:{passw}@localhost/{dbName}"
engine = alch.create_engine(connectionData)

In [3]:
# pd.read_sql_query('select * From scrobbling',engine)

In [4]:
temporadas = pd.read_sql_query('select * from temporadas where tipo = "datos"  and fem is False',engine)
temporadas

    id_tem    temporada      inicio         fin   tipo  fem
0        3  cumple_2010  2009-09-01  2010-08-31  datos    0
1        7   anual_2010  2010-01-01  2010-12-31  datos    0
2       13  cumple_2011  2010-09-01  2011-08-31  datos    0
3       19   anual_2011  2011-01-01  2011-12-31  datos    0
4       25  cumple_2012  2011-09-01  2012-08-31  datos    0
5       31   anual_2012  2012-01-01  2012-12-31  datos    0
6       37  cumple_2013  2012-09-01  2013-08-31  datos    0
7       43   anual_2013  2013-01-01  2013-12-31  datos    0
8       49  cumple_2014  2013-09-01  2014-08-31  datos    0
9       55   anual_2014  2014-01-01  2014-12-31  datos    0
10      61  cumple_2015  2014-09-01  2015-08-31  datos    0
11      67   anual_2015  2015-01-01  2015-12-31  datos    0
12      73  cumple_2016  2015-09-01  2016-08-31  datos    0
13      79   anual_2016  2016-01-01  2016-12-31  datos    0
14      85  cumple_2017  2016-09-01  2017-08-31  datos    0
15      91   anual_2017  2017-01-01  2017-12-31  datos    0
16      97  cumple_2018  2017-09-01  2018-08-31  datos    0
17     103   anual_2018  2018-01-01  2018-12-31  datos    0
18     109  cumple_2019  2018-09-01  2019-08-31  datos    0
19     115   anual_2019  2019-01-01  2019-12-31  datos    0
20     121  cumple_2020  2019-09-01  2020-08-31  datos    0
21     127   anual_2020  2020-01-01  2020-12-31  datos    0
22     133  cumple_2021  2020-09-01  2021-08-31  datos    0
23     139   anual_2021  2021-01-01  2021-12-31  datos    0
24     145  cumple_2022  2021-09-01  2022-08-31  datos    0
25     151   anual_2022  2022-01-01  2022-12-31  datos    0
26     157  cumple_2023  2022-09-01  2023-08-31  datos    0

In [5]:
tempos = list(engine.execute(f'''
select distinct temporada from temporadas order by id_tem
'''))

In [6]:
tempos_list = [t[0] for t in tempos]

In [7]:
# for t in tempos_list:
#     tempo = t
#     idtem_q = list(engine.execute(f'''
#                   select id_tem from temporadas where temporada = '{tempo}'  
#                     '''))[0][0]
#     df = pd.read_sql_query(f'''
#                    select  artist, album, title, ruta, secs
#                     from total where id_Can in (select id_Can from listas_rep where id_tem = {idtem_q} order by id_lr);
#                     ''',engine)
#     if f'''{tempo}.m3u''' in os.listdir('../../../Music_listas/archivosm3u/'):
#         print('ya existe')
#     else:
#         file = open(f'../output/{tempo}.txt','w')
#         file.write('#EXTM3U'+os.linesep)
#         file.write(f'''#PLAYLIST:{tempo}'''+os.linesep)
#         for i,r in df.iterrows():
#             file.write(f'''#EXTINF:{r.secs}, {r.artist} - {r.album} - {r.title}'''+os.linesep)
#             file.write(f'''{r.ruta} '''+os.linesep)
#         file.close()
#         pre, ext = os.path.splitext(file.name)
#         os.rename(file.name, pre + '.m3u')
#         src_file = f'''../output/{tempo}.m3u'''
#         dest_file = f'''../../../Music_listas/archivosm3u/{tempo}.m3u'''
#         shutil.copyfile(src_file,dest_file)
#         print(f'''{tempo} creado y copiado''')

In [8]:
tempo = 'anual_2021'

In [9]:
idtem_q = list(engine.execute(f'''
select id_tem from temporadas where temporada = '{tempo}'
'''))[0][0]

In [10]:
idtem_q

139

In [4]:
listaprueba= pd.read_sql_query(f'''
select sc.id_can, sc.artist, sc.album, sc.title, art.genero, min(date(sc.fechahora)) as minfecha, max(date(sc.fechahora)) as maxfecha, count(sc.uts) as reps
from scrobbling sc left join artistas art on sc.artist = art.artist
where sc.fechahora >= "2023-08-26"
group by sc.id_can, sc.artist, sc.album, sc.title, art.genero
having reps >= 5
order by artist, reps desc, minfecha
;
''',engine)
listaprueba

,id_can,artist,album,title,genero,minfecha,maxfecha,reps
0,2773,AC/DC,Ballbreaker,Hard as a Rock,heavy metal,2023-09-23,2023-12-08,14
1,3328,AC/DC,Back in Black,You Shook Me All Night Long,heavy metal,2023-09-25,2023-12-10,8
2,257,Ace of Base,The Bridge,Beautiful Life,eurodance,2023-08-28,2023-11-21,6
3,3727,Ace of Base,Singles Of The 90's,C'est La Vie (Always 21),eurodance,2023-08-28,2023-11-05,5
4,205,Aerosmith,Get a Grip,Cryin',hard rock,2023-08-27,2023-12-08,17
...,...,...,...,...,...,...,...,...
654,28279,Wet Leg,Wet Leg,Wet Dream,indie,2023-08-28,2023-11-12,5
655,1113,Whitesnake,Saints & Sinners,Here I Go Again,hard rock,2023-09-01,2023-12-04,23
656,15589,Yellow Mellow,Phantom Limb,Phantom Limb,pop,2023-08-26,2023-11-26,9
657,22194,Zaz,Zaz,Je veux,folk,2023-09-11,2023-11-15,5
658,4633,Zenttric,Zenttric,Sólo Quiero Bailar,pop rock,2023-09-11,2023-12-08,12

In the extended M3U, additional directives are introduced that begin with “#” and end with a colon(:) if they have parameters. Given below is a list of directives for extended M3U.

    #EXTM3U - It is the file header indicating Extended M3U and must be first line of the file.
    #EXTENC: - Text encoding. It must be the 2nd line of the file.
    #EXTINF: - Used for track information and other additional properties.
    #PLAYLIST: - The title of the playlist
    #EXTGRP: - Begin name grouping
    #EXTALB: - Album information
    #EXTART: - Album artist
    #EXTGENRE - Album Genre
    #EXTM3A - Single file playlist for album tracks or chapters.
    #EXTBYT: - File size in bytes.
    #EXTBIN: - Binary data follows.
    #EXTIMG: - Logo, Cover or other images.

#EXTM3U
 
#EXTINF:111, Sample artist name - Sample track title
C:\Music\SampleMusic.mp3
 
#EXTINF:222,Example Artist name - Example track title
C:\Music\ExampleMusic.mp3

```python
file = open("/ruta/filename.txt", "w")
file.write("Primera línea" + os.linesep)
file.write("Segunda línea")
file.close()

shutil.copyfile(src, dst)
```

In [11]:
os.listdir('../output')

['anual_2021.m3u',
 'cuatroporcuatro.m3u',
 'cuatro_por_cuatro.m3u',
 'listas_rep',
 'tresvecestres.m3u',
 'tres_veces_tres.m3u']

In [12]:
os.linesep

'\n'

In [13]:
tempo

NameError: name 'tempo' is not defined

In [14]:
os.listdir('../../../Music_listas/')

['00_estacionales',
 'aleatorismo',
 'listas_tempo',
 'maslistas',
 'prueba',
 'yaguismos']

In [15]:
idtem_q

NameError: name 'idtem_q' is not defined

In [36]:
more_than =  pd.read_sql_query(f'''
select id_can, count(uts) as reps, min(date(fechahora)) as mindate, artist, title
from scrobbling 
where date(fechahora) between '2023-05-25' and '2023-08-25'
 group by id_can
having reps >= 3 order by reps desc
''',engine)['id_can'].unique().tolist()

In [37]:
len(more_than)

370

In [30]:
more_than =  pd.read_sql_query(f'''
select id_can, count(uts) as reps, min(fechahora) as mindate, artist, title
from scrobbling 
where date(fechahora) >= '2020-09-28'
 group by id_can
''',engine)

In [31]:
more_than.sort_values(['reps','mindate'],ascending=[False,False]).drop_duplicates(subset=['artist']).head(50)

,id_can,reps,mindate,artist,title
5254,27770,54,2022-03-28 15:00:44,Dua Lipa,Physical
5043,26620,42,2022-01-24 20:44:47,Cutting Crew,(I Just) Died in Your Arms
4697,25237,41,2020-10-14 15:19:46,Celtas Cortos,Hora de Aventuras (Con Rozalén)
2627,12242,37,2021-05-12 18:19:41,Kyla La Grange,Vampire Smile
4735,25327,34,2021-04-06 15:47:09,Billie Eilish,bad guy
5268,27839,27,2022-03-28 21:43:52,C. Tangana,Ateo (ft. Nathy Peluso)
2773,13284,26,2020-10-02 17:52:21,Arctic Monkeys,505
3176,15671,25,2020-10-06 22:49:15,Fleetwood Mac,Landslide
5237,27627,24,2022-03-23 19:25:50,Ed Sheeran,Shape of You
4527,24445,24,2020-10-21 02:18:57,Rozalén,Girasoles
4779,25512,22,2021-04-22 20:19:54,Love of Lesbian,El sur (feat. Bunbury)
814,1966,22,2021-01-23 22:47:31,Oasis,Don't Look Back in Anger
5130,26925,21,2022-06-30 16:21:26,El Canijo de Jerez,Como La Yerba (con La Mari)
176,235,21,2021-08-14 20:23:03,Héroes del Silencio,Mar Adentro
501,875,21,2021-08-08 17:39:31,Amy Macdonald,This Is the Life
3518,17639,21,2020-10-10 18:23:47,Beyoncé,Daddy Lessons
4787,25523,20,2021-05-07 21:58:24,Zahara,berlín U5
4693,25228,20,2021-03-27 19:13:02,La Maravillosa Orquesta del Alcohol,Colectivo Nostalgia
4647,25040,20,2020-10-28 20:02:49,Harry Styles,Watermelon Sugar
4261,22303,20,2020-10-09 16:03:16,Camila Cabello,Crying in the Club
4816,25667,19,2021-05-09 18:45:14,Los Ronaldos,No Puedo Vivir Sin Ti
3819,19213,19,2020-10-19 13:46:41,Frente!,Bizarre Love Triangle
1931,8740,18,2023-08-02 11:37:48,Radiohead,Creep
5457,28287,18,2023-04-15 17:01:12,Miley Cyrus,Flowers
5177,27041,18,2022-03-03 19:25:08,Coque Malla,Berlín
574,1008,18,2021-09-26 23:41:08,Savatage,Edge of Thorns
4889,26132,18,2021-08-15 10:40:19,Lola Indigo,Ya No Quiero Ná
4247,22194,18,2021-05-22 19:29:41,Zaz,Je veux
4715,25258,18,2021-04-06 15:33:11,Lana Del Rey,Dance Till We Die
527,928,18,2020-10-06 22:07:34,Madonna,Into the Groove
1664,6910,17,2021-05-20 13:17:54,Britney Spears,Gimme More
4458,23532,17,2021-04-22 18:21:01,Dolores Vargas,A-chi-li-pu
4537,24488,17,2021-04-11 20:15:46,Los Chunguitos,Me Quedo Contigo
3153,15577,17,2020-10-20 14:02:21,Vetusta Morla,Maldita Dulzura
188,249,17,2020-10-20 02:47:55,Marea,Corazón de mimbre
5334,28075,16,2022-04-26 16:36:55,Quique González,Luna de Trueno
16,23,16,2022-02-02 14:11:00,Anouk,Nobody's Wife
4754,25404,16,2021-04-22 18:44:15,Rosario La Tremendita,Enriqueta La Pescaera (Bulería)
641,1173,16,2021-01-26 14:11:56,Canteca De Macao,Contigo
567,994,16,2020-10-20 22:35:55,Danza Invisible,Por Ahí Se Va...
234,313,16,2020-10-07 02:43:01,Dionysos,Tais Toi Mon Cœur
3736,18722,16,2020-10-01 17:35:41,Gossip,Coal To Diamonds
2991,14852,16,2020-10-01 16:28:57,Florence + the Machine,Ship to Wreck
4046,20494,16,2020-09-30 16:24:55,Luis Fonsi,Despacito (feat. Daddy Yankee)
4470,23932,15,2023-08-13 17:25:53,Doro,Wild Heart
1570,6256,15,2021-10-05 00:10:31,Shakira,"Whenever, Wherever"
4680,25172,15,2021-08-16 15:31:30,One Direction,Love You Goodbye
1682,7090,15,2021-08-11 17:18:01,Nacha Pop,Antes De Que Salga El Sol
770,1756,15,2020-10-02 18:07:33,Mürfila,Mi Guitarra Quiere Rock
39,53,15,2020-10-01 16:07:11,Pereza,Lady Madrid

In [5]:
list_idcans = listaprueba.id_can.unique().tolist()
len(list_idcans)

659

In [6]:
list_idcans

[2773,
 3328,
 257,
 3727,
 205,
 895,
 1016,
 2783,
 309,
 23777,
 175,
 2380,
 10626,
 862,
 3308,
 133,
 41,
 143,
 3187,
 3433,
 1837,
 4770,
 3329,
 3491,
 75,
 917,
 11682,
 6608,
 6613,
 3210,
 6604,
 6571,
 6605,
 6616,
 10301,
 6561,
 3322,
 3386,
 5011,
 229,
 3485,
 6567,
 10297,
 3690,
 875,
 15220,
 13217,
 10227,
 968,
 5932,
 1775,
 246,
 8240,
 23,
 852,
 12850,
 13298,
 11699,
 13310,
 13309,
 13304,
 13314,
 13284,
 13307,
 11123,
 2762,
 633,
 8103,
 12085,
 12084,
 12076,
 18461,
 132,
 2885,
 251,
 18463,
 3337,
 3237,
 3331,
 23046,
 18466,
 304,
 8632,
 1563,
 3159,
 348,
 2001,
 13636,
 9497,
 3819,
 17329,
 18356,
 131,
 24386,
 2886,
 3307,
 16023,
 25327,
 149,
 988,
 4091,
 24335,
 28696,
 28687,
 9461,
 24832,
 724,
 108,
 3521,
 323,
 2788,
 1147,
 134,
 3955,
 263,
 993,
 1181,
 980,
 1253,
 4664,
 61,
 3518,
 3728,
 49,
 4407,
 6908,
 6904,
 4286,
 6909,
 6899,
 6890,
 18479,
 6888,
 11664,
 7708,
 7713,
 27839,
 22303,
 1173,
 19881,
 1172,
 3664,
 2803,
 2891,
 1158,
 915,
 1251,
 25237,
 382,
 1908,
 981,
 76,
 10243,
 9413,
 12046,
 15687,
 26651,
 27041,
 26632,
 26644,
 28620,
 26228,
 1044,
 4068,
 829,
 26620,
 7661,
 11405,
 994,
 1769,
 3363,
 137,
 138,
 313,
 1367,
 931,
 1915,
 18522,
 23932,
 23927,
 23921,
 7859,
 23920,
 28842,
 23944,
 28875,
 28872,
 23937,
 23919,
 27770,
 27779,
 4485,
 234,
 27627,
 6926,
 26925,
 4705,
 11641,
 8433,
 1309,
 365,
 3663,
 631,
 163,
 4400,
 87,
 734,
 3412,
 5087,
 374,
 357,
 3310,
 859,
 3381,
 511,
 350,
 193,
 1865,
 934,
 335,
 904,
 960,
 12,
 88,
 3435,
 5129,
 2029,
 1524,
 863,
 963,
 1317,
 3343,
 5068,
 10712,
 1013,
 1019,
 384,
 4629,
 119,
 17093,
 8496,
 1299,
 200,
 1011,
 849,
 1156,
 916,
 13047,
 237,
 240,
 112,
 356,
 21,
 15625,
 15628,
 15626,
 17210,
 15610,
 3430,
 14852,
 28272,
 28256,
 14997,
 15004,
 3630,
 14853,
 3541,
 16777,
 3825,
 19213,
 10075,
 598,
 28649,
 9221,
 4090,
 18722,
 885,
 547,
 242,
 1390,
 59,
 80,
 3692,
 22017,
 25041,
 25040,
 130,
 239,
 235,
 13445,
 872,
 10519,
 3459,
 1383,
 4402,
 731,
 3957,
 3584,
 329,
 136,
 148,
 129,
 15103,
 20066,
 15100,
 9208,
 3695,
 700,
 171,
 3579,
 4424,
 1753,
 1469,
 21572,
 520,
 1283,
 4023,
 3296,
 3829,
 12242,
 12261,
 22183,
 24729,
 3160,
 261,
 54,
 3818,
 1369,
 8981,
 268,
 567,
 6300,
 6351,
 14810,
 14812,
 169,
 90,
 24403,
 23778,
 18814,
 18823,
 15747,
 8385,
 7871,
 6928,
 21279,
 10903,
 21278,
 11687,
 11686,
 4081,
 184,
 25210,
 225,
 265,
 9200,
 2669,
 3402,
 299,
 1988,
 1782,
 24488,
 906,
 15150,
 15141,
 2379,
 10226,
 509,
 944,
 25667,
 26654,
 120,
 19944,
 13710,
 17307,
 10860,
 13052,
 9566,
 10231,
 17029,
 3951,
 1371,
 3517,
 361,
 8361,
 1006,
 13440,
 8371,
 1018,
 928,
 63,
 162,
 30,
 161,
 1024,
 155,
 3849,
 8950,
 35,
 9218,
 758,
 1768,
 985,
 3305,
 11,
 6068,
 1244,
 249,
 314,
 150,
 1770,
 1376,
 6099,
 6072,
 2792,
 18481,
 14135,
 14137,
 3659,
 8670,
 7863,
 9038,
 5868,
 10633,
 8774,
 602,
 791,
 176,
 3577,
 3821,
 18585,
 391,
 22968,
 3390,
 258,
 18584,
 22969,
 22966,
 3040,
 28287,
 204,
 288,
 1218,
 28610,
 9891,
 144,
 154,
 285,
 1756,
 9813,
 17515,
 17532,
 197,
 218,
 997,
 3232,
 26825,
 7860,
 351,
 213,
 1966,
 26349,
 139,
 1014,
 9317,
 15570,
 25054,
 25101,
 25138,
 25069,
 533,
 943,
 3193,
 560,
 8426,
 3180,
 53,
 10140,
 28155,
 69,
 10467,
 10470,
 9145,
 89,
 160,
 740,
 912,
 1435,
 10525,
 196,
 188,
 1257,
 3414,
 1268,
 106,
 845,
 10522,
 1236,
 389,
 962,
 6843,
 151,
 836,
 26192,
 7558,
 826,
 47,
 9751,
 9264,
 9755,
 9746,
 9747,
 9709,
 9748,
 9752,
 9753,
 8740,
 10162,
 10105,
 13183,
 24486,
 24481,
 14872,
 10161,
 591,
 4132,
 11188,
 86,
 11187,
 3484,
 48,
 11280,
 3258,
 152,
 1170,
 21313,
 15274,
 422,
 3162,
 23219,
 28619,
 28318,
 22859,
 19721,
 19723,
 17804,
 17799,
 17806,
 3696,
 1523,
 3342,
 3558,
 529,
 12071,
 24445,
 24443,
 18502,
 6166,
 1008,
 1076,
 60,
 103,
 21421,
 4007,
 6257,
 6253,
 3807,
 3751,
 6255,
 3671,
 4012,
 20539,
 834,
 7561,
 1373,
 12849,
 8235,
 14851,
 8223,
 2003,
 7785,
 3919,
 1160,
 85,
 19673,
 664,
 866,
 990,
 951,
 156,
 141,
 140,
 581,
 1719,
 342,
 659,
 660,
 661,
 126,
 1707,
 1682,
 1720,
 1051,
 10844,
 17225,
 508,
 164,
 2660,
 353,
 207,
 146,
 11205,
 3742,
 11244,
 11224,
 929,
 3025,
 1750,
 4221,
 2778,
 870,
 3411,
 4360,
 711,
 2774,
 4804,
 266,
 5104,
 1396,
 1397,
 10827,
 128,
 122,
 1392,
 1389,
 185,
 992,
 3865,
 3059,
 7795,
 7794,
 4316,
 2651,
 33,
 6238,
 3707,
 147,
 4167,
 142,
 4006,
 15577,
 70,
 145,
 830,
 28279,
 1113,
 15589,
 22194,
 4633]

In [42]:
listavamosya

,id_can,artist,album,title,genero,minfecha,maxfecha,reps
0,2773,AC/DC,Ballbreaker,Hard as a Rock,heavy metal,2023-09-23,2023-12-01,9
1,3328,AC/DC,Back in Black,You Shook Me All Night Long,heavy metal,2023-09-25,2023-11-30,7
2,1776,AC/DC,Highway to Hell,Highway to Hell,heavy metal,2023-09-17,2023-11-19,2
3,205,Aerosmith,Get a Grip,Cryin',hard rock,2023-09-01,2023-11-30,12
4,2783,Aerosmith,Get a Grip,Crazy,hard rock,2023-09-18,2023-11-28,8
...,...,...,...,...,...,...,...,...
669,70,Vixen,Vixen,Cryin',hard rock,2023-09-24,2023-12-01,6
670,835,Vulpess,Me gusta ser una zorra,Me Gusta Ser Una Zorra,punk,2023-11-24,2023-11-24,1
671,145,Warlock,Triumph And Agony,All We Are,heavy metal,2023-09-06,2023-11-09,5
672,830,Warrant,Cherry Pie,Cherry Pie,glam,2023-11-11,2023-12-01,5
673,1113,Whitesnake,Saints & Sinners,Here I Go Again,hard rock,2023-09-01,2023-11-30,22

In [7]:
ejemplo_bas= pd.read_sql_query(f'''
select id_can, artist, album, title, ruta, secs
from total where id_Can in {tuple(list_idcans)}
''',engine)

ejemplo = listaprueba[["id_can"]].merge(ejemplo_bas,how="left",on='id_can')
ejemplo

,id_can,artist,album,title,ruta,secs
0,2773,AC/DC,Ballbreaker,Hard as a Rock,"H:\Music\Metal, hard rock\ACDC\1995 Ballbreake...",271
1,3328,AC/DC,Back in Black,You Shook Me All Night Long,"H:\Music\Metal, hard rock\ACDC\1980 Back in Bl...",210
2,257,Ace Of Base,The Bridge,Beautiful Life,H:\Music\V.A\Miscelánea\Ace Of Base - Beautifu...,219
3,3727,Ace Of Base,Singles Of The 90's,C'est La Vie (Always 21),H:\Music\V.A\Miscelánea\Ace Of Base - C'est La...,207
4,205,Aerosmith,Get A Grip,Cryin',"H:\Music\Metal, hard rock\Aerosmith\1993 Get A...",309
...,...,...,...,...,...,...
654,28279,Wet Leg,Wet Leg,Wet Dream,"H:\Music\Britpop, Indie y rock alt británico\W...",140
655,1113,Whitesnake,Saints & Sinners,Here I Go Again,"H:\Music\Metal, hard rock\Whitesnake\1982 Sain...",308
656,15589,Yellow Mellow,Phantom Limb,Phantom Limb,H:\Music\V.A\Miscelánea\Yellow Mellow - Phanto...,245
657,22194,Zaz,Zaz,Je veux,"H:\Music\Flamenco, Fusión, Música del mundo, r...",219
658,4633,Zenttric,Zenttric,Sólo Quiero Bailar,H:\Music\V.A\Miscelánea\Zenttric - Sólo quiero...,203

In [49]:
ejemplo.id_can.nunique()

674

In [29]:
query = """
select sc.id_can, sc.artist, sc.album, sc.title, count(sc.uts) as reps,
min(date(sc.fechahora)) as mindate, max(date(sc.fechahora)) as maxdate,
DATEDIFF( max(date(sc.fechahora)) , min(date(sc.fechahora))) as diff_days,
tot.released, tot.país, tot.secs, tot.kbs, 
(count(sc.uts) * tot.secs)/60 as tot_min,
tot.ruta
from scrobbling sc
left join total tot
on sc.id_can = tot.id_can
where date(fechahora) between '2023-05-01' and  '2023-08-31'
group by id_can, artist, album, title
having reps >= 4
order by reps desc, mindate desc, maxdate, secs
"""

In [54]:
ejemplo= pd.read_sql_query(
    query
    ,engine)
ejemplo

,id_can,artist,album,title,reps,mindate,maxdate,diff_days,released,país,secs,kbs,tot_min,ruta
0,27770,Dua Lipa,Future Nostalgia,Physical,36,2023-07-31,2023-08-30,30,2020,Reino Unido,194,7598.61,116.4000,"H:\Music\Pop, Pop Dance, Club\Dua Lipa\2020 Fu..."
1,23932,Doro,Fight,Wild Heart,30,2023-08-13,2023-08-31,18,2002,Alemania,273,10729.50,136.5000,"H:\Music\Metal, hard rock\Doro\2002 Fight\09 W..."
2,24445,Rozalén,Cuando el Río Suena...,Girasoles,19,2023-08-04,2023-08-29,25,2017,España,220,8646.59,69.6667,H:\Music\Cantautores\Rozalén\2017 Cuando el rí...
3,8740,Radiohead,Pablo Honey,Creep,19,2023-08-02,2023-08-31,29,1993,Reino Unido,236,9247.80,74.7333,"H:\Music\Britpop, Indie y rock alt británico\R..."
4,1966,Oasis,(What's the Story) Morning Glory?,Don't Look Back in Anger,19,2023-07-30,2023-08-29,30,1995,Reino Unido,288,11306.10,91.2000,"H:\Music\Britpop, Indie y rock alt británico\O..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281,4007,Shakira,¿Dónde Están los Ladrones?,Inevitable,4,2023-05-06,2023-08-29,115,1998,Colombia,194,7625.46,12.9333,"H:\Music\Pop, Pop Dance, Club\Shakira\1998 Dón..."
282,27943,Migue Benítez,Cómo Apretar Los Dientes,Hasta La Colonia,4,2023-05-05,2023-08-23,110,2010,España,232,9068.92,15.4667,"H:\Music\Flamenco, Fusión, Música del mundo, r..."
283,9339,Amaral,Hacia lo salvaje,Van Como Locos (acústica),4,2023-05-04,2023-06-08,35,2011,España,214,7302.10,14.2667,H:\Music\Pop Rock en español y movida\Amaral\2...
284,13330,Alex Turner,Submarine,Hiding Tonight,4,2023-05-04,2023-08-04,92,2011,Reino Unido,187,7327.06,12.4667,"H:\Music\Britpop, Indie y rock alt británico\A..."
285,27037,Coque Malla,¿Revolución?,"Un lazo rojo, un agujero (con Kase O)",4,2023-05-01,2023-08-25,116,2019,España,329,13000.50,21.9333,"H:\Music\Rock Ibérico, punkarra y rock latino\..."

In [8]:
ejemplo["rutasion"] = ejemplo.ruta.str.replace('\\','/').str[len('H:/Music/'):]

/tmp/ipykernel_757/1721084441.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  ejemplo["rutasion"] = ejemplo.ruta.str.replace('\\','/').str[len('H:/Music/'):]

In [9]:
ejemplo["rutasion"][0]

'Metal, hard rock/ACDC/1995 Ballbreaker (Remastered 2005)/01 Hard as a Rock.mp3'

In [10]:
ejemplo.to_excel('../../../Music_listas/maslistas/listaprueba.xlsx')

In [11]:
ejemplo.head()

,id_can,artist,album,title,ruta,secs,rutasion
0,2773,AC/DC,Ballbreaker,Hard as a Rock,"H:\Music\Metal, hard rock\ACDC\1995 Ballbreake...",271,"Metal, hard rock/ACDC/1995 Ballbreaker (Remast..."
1,3328,AC/DC,Back in Black,You Shook Me All Night Long,"H:\Music\Metal, hard rock\ACDC\1980 Back in Bl...",210,"Metal, hard rock/ACDC/1980 Back in Black/07 yo..."
2,257,Ace Of Base,The Bridge,Beautiful Life,H:\Music\V.A\Miscelánea\Ace Of Base - Beautifu...,219,V.A/Miscelánea/Ace Of Base - Beautiful Life.mp3
3,3727,Ace Of Base,Singles Of The 90's,C'est La Vie (Always 21),H:\Music\V.A\Miscelánea\Ace Of Base - C'est La...,207,V.A/Miscelánea/Ace Of Base - C'est La Vie (Alw...
4,205,Aerosmith,Get A Grip,Cryin',"H:\Music\Metal, hard rock\Aerosmith\1993 Get A...",309,"Metal, hard rock/Aerosmith/1993 Get A Grip/09 ..."

In [12]:
tempo = 'listaprueba'

In [13]:
#check if archivo exists
if f'''{tempo}.m3u''' in os.listdir('../../../Music_listas/maslistas/'):
    print('ya existe')
else:
    file = open(f'../output/{tempo}.txt','w')
    file.write('#EXTM3U'+os.linesep)
    file.write(f'''#PLAYLIST:{tempo}'''+os.linesep)
    for i,r in ejemplo.iterrows():
        file.write(f'''#EXTINF:{r.secs}, {r.artist} - {r.album} - {r.title}'''+os.linesep)
        file.write(f'''{r.ruta} '''+os.linesep)
    file.close()
    pre, ext = os.path.splitext(file.name)
    os.rename(file.name, pre + '.m3u')
    src_file = f'''../output/{tempo}.m3u'''
    dest_file = f'''../../../Music_listas/maslistas/{tempo}.m3u'''
    shutil.copyfile(src_file,dest_file)

In [85]:
tempo = "cuatro_por_cuatro"

In [86]:
#check if archivo exists
if f'''{tempo}.m3u''' in os.listdir('../../../Music_listas/maslistas/'):
    print('ya existe')
else:
    file = open(f'../output/{tempo}.txt','w')
    file.write('#EXTM3U'+os.linesep)
    file.write(f'''#PLAYLIST:{tempo}'''+os.linesep)
    for i,r in ejemplo.iterrows():
        file.write(f'''#EXTINF:{r.secs}, {r.artist} - {r.album} - {r.title}'''+os.linesep)
        file.write(f'''/home/ester/Music/Music/{r.rutasion} '''+os.linesep)
    file.close()
    pre, ext = os.path.splitext(file.name)
    os.rename(file.name, pre + '.m3u')
    src_file = f'''../output/{tempo}.m3u'''
    dest_file = f'''../../../Music_listas/maslistas/{tempo}.m3u'''
    shutil.copyfile(src_file,dest_file)

In [16]:
file = open(f'../output/{tempo}.txt','w')
file.write('#EXTM3U'+os.linesep)
file.write(f'''#PLAYLIST:{tempo}'''+os.linesep)
for i,r in ejemplo.iterrows():
    file.write(f'''#EXTINF:{r.secs}, {r.artist} - {r.album} - {r.title}'''+os.linesep)
    file.write(f'''{r.ruta} '''+os.linesep)
file.close()
pre, ext = os.path.splitext(file.name)
os.rename(file.name, pre + '.m3u')
src_file = f'''../output/{tempo}.m3u'''
dest_file = f'''../../../Music_listas/archivosm3u/{tempo}.m3u'''
shutil.copyfile(src_file,dest_file)

FileNotFoundError: [Errno 2] No such file or directory: '../../../Music_listas/archivosm3u/tres_veces_tres.m3u'

In [ ]:
os.listdir(f'''../output/{tempo}.mu3''',)

In [ ]:
pre

In [ ]:
os.listdir('../../../Music_listas/archivosm3u/')

## creando listas difererntes

In [8]:
total = pd.read_sql_query('''
select concat(b.folder,b.archivo) as ruta,b.secs,min(lr.id_lr) as id_lr,  min(lr.id_tem) as id_tem, lr.id_can,art.artist, alb.album, t.title, tp.temporada
from biblioteca b
 right join  listas_rep lr on lr.id_can = b.id_can
 left join temas t on t.id_can = b.id_Can
 left join albums alb on alb.id_alb = t.id_alb
 left join artistas art on art.id_art = t.id_Art
 left join temporadas tp on lr.id_tem = tp.id_tem 
group by lr.id_can
order by  id_lr, id_tem
;
''',engine)

In [9]:
total

,ruta,secs,id_lr,id_tem,id_can,artist,album,title,temporada
0,"H:\Music\Metal, hard rock\DIO\1983 Holy diver\...",355,1,1,137,Dio,Holy Diver,Holy Diver,Pri_2010_02
1,"H:\Music\Metal, hard rock\Alice Cooper\1991 He...",251,2,1,133,Alice Cooper,Hey Stoopid,Love's a Loaded Gun,Pri_2010_02
2,"H:\Music\Metal, hard rock\Helloween\1988 Hello...",282,3,1,130,Helloween,"Keeper Of The Seven Keys, Part II",I Want Out,Pri_2010_02
3,"H:\Music\Metal, hard rock\Sonata Arctica\2000 ...",259,4,1,126,Sonata Arctica,Successor,Shy,Pri_2010_02
4,H:\Music\V.A\Miscelánea\Paquita La Del Barrio ...,221,5,1,124,Paquita La Del Barrio,Taco Placero,Rata de dos patas,Pri_2010_02
...,...,...,...,...,...,...,...,...,...
1677,"H:\Music\Indie, Rock Alt, Grunge\Gossip\2006 S...",169,7478,144,18717,Gossip,Standing in the Way of Control,Fire With Fire,pri_2022_02_fem
1678,H:\Music\Pop Rock en español y movida\Amaral\2...,202,7479,144,322,Amaral,Estrella De Mar,¿Qué será?,pri_2022_02_fem
1679,"H:\Music\Classic Punk, New Wave, Garage Rock y...",281,7480,144,1530,Blondie,Autoamerican,The Tide Is High,pri_2022_02_fem
1680,"H:\Music\Indie, Rock Alt, Grunge\Lana del rey\...",274,7481,144,26578,Lana Del Rey,Blue Banisters,Dealer,pri_2022_02_fem
1681,"H:\Music\Flamenco, Fusión, Música del mundo, r...",202,7482,144,26688,Tanxugueiras,Contrapunto,Miña nena,pri_2022_02_fem

In [10]:
def listilla(carpeta,nombre,df):
    file = open(f'{carpeta}{nombre}.txt','w')
    file.write('#EXTM3U'+os.linesep)
    file.write(f'''#PLAYLIST:{nombre}'''+os.linesep)
    for i,r in df.iterrows():
        file.write(f'''#EXTINF:{r.secs}, {r.artist} - {r.album} - {r.title}'''+os.linesep)
        file.write(f'''{r.ruta} '''+os.linesep)
    file.close()
    pre, ext = os.path.splitext(file.name)
    os.rename(file.name, pre + '.m3u')

In [15]:
os.listdir('../output/listas_rep/')

['te.txt']

In [16]:
carpeta = '../output/listas_rep/'
nombre = 'totality'

In [17]:
listilla(carpeta,nombre,total)

In [10]:
query = '''
select id_can, artist, album, title, genero, sexo, rep, veces,prec from prediction_dos
where veces > 0 or prec is True
'''
pd.read_sql_query(query,engine)

,id_can,artist,album,title,genero,sexo,rep,veces,prec
0,26620,Cutting Crew,Broadcast,(I Just) Died in Your Arms,New wave,masc,38,3,0
1,27770,Dua Lipa,Future Nostalgia,Physical,Dance Pop,fem,19,4,0
2,27627,Ed Sheeran,÷ (Divide),Shape Of You,pop,masc,18,2,0
3,28075,Quique González,Sur en el valle,Luna de trueno,cantautor,masc,16,1,0
4,26925,El Canijo De Jerez,Manual De Jaleo,Como La Yerba (con La Mari),flamenco rock,masc,16,2,0
...,...,...,...,...,...,...,...,...,...
64,24443,Rozalén,Cuando el río suena...,La puerta violeta,cantautor,fem,7,10,0
65,22303,Camila Cabello,Crying in the Club,Crying in the Club,pop,fem,7,13,0
66,27839,C. Tangana,El Madrileño (La Sobremesa),Ateo (ft. Nathy Peluso),hip hop,masc,6,1,0
67,26986,Amaia,Pero no pasa nada,Nuevo verano,indie,fem,6,1,0
68,26825,Non Servium,Orgullo Obrero (Donde Vamos La Liamos),Seguimos Siendo,Oi!,masc,6,1,0

In [16]:
 cumplismo = pd.read_sql_query('''
select c.*, t.ruta, t.folder, t.archivo, t.mins
from cumpyagui_22 c
left join total t
on t.id_can = c.id_can
order by idcump desc
''',engine)

In [17]:
cumplismo

,idcump,id_can,artist,id_art,album,title,secs,kbs,total,fecha,ruta,folder,archivo,mins
0,23,1257,Platero y tú,2,Correos,Entre Dos Mares,252,9916.48,9,2022-04-17,"H:\Music\Rock Ibérico, punkarra y rock latino\...","H:\Music\Rock Ibérico, punkarra y rock latino\...",03 Entre dos mares.mp3,04:12
1,22,863,Extremoduro,11,Iros Todos a Tomar Por Culo,"Ama, Ama, Ama Y Ensancha El Alma (Live)",364,14279.00,9,2022-03-23,"H:\Music\Rock Ibérico, punkarra y rock latino\...","H:\Music\Rock Ibérico, punkarra y rock latino\...","14 Ama, ama, ama y ensancha el alma (Live).mp3",06:04
2,21,26132,Lola Indigo,2396,Akelarre,Ya No Quiero Ná,192,7548.16,9,2022-03-14,"H:\Music\Hip hop, funky, R&B\Lola Indigo\2019 ...","H:\Music\Hip hop, funky, R&B\Lola Indigo\2019 ...",09 Ya no quiero ná.mp3,03:12
3,20,6886,Britney Spears,1059,In the Zone,Toxic,202,7941.50,9,2022-02-23,"H:\Music\Pop, Pop Dance, Club\Britney Spears\2...","H:\Music\Pop, Pop Dance, Club\Britney Spears\2...",06 Toxic.mp3,03:22
4,19,10725,Lady Gaga,898,ARTPOP,Dope,222,8738.12,10,2022-07-28,"H:\Music\Pop, Pop Dance, Club\Lady Gaga\2013 A...","H:\Music\Pop, Pop Dance, Club\Lady Gaga\2013 A...",13 Dope.mp3,03:42
5,18,18585,Metallica,174,Reload,The Memory Remains,279,10952.80,10,2022-07-07,"H:\Music\Metal, hard rock\Metallica\1997 Reloa...","H:\Music\Metal, hard rock\Metallica\1997 Reload\",02 The Memory Remains.mp3,04:39
6,17,27424,ROSALÍA,2253,MOTOMAMI,LA FAMA (ft. The Weeknd),188,7394.89,10,2022-03-23,"H:\Music\Flamenco, Fusión, Música del mundo, r...","H:\Music\Flamenco, Fusión, Música del mundo, r...",03 LA FAMA (ft. The Weeknd).mp3,03:08
7,16,26620,Cutting Crew,2404,Broadcast,(I Just) Died in Your Arms,280,11023.00,10,2022-02-25,"H:\Music\Classic Punk, New Wave, Garage Rock y...","H:\Music\Classic Punk, New Wave, Garage Rock y...",06 (I Just) Died in Your Arms.mp3,04:40
8,15,22194,Zaz,2289,Zaz,Je veux,219,8620.41,10,2022-02-23,"H:\Music\Flamenco, Fusión, Música del mundo, r...","H:\Music\Flamenco, Fusión, Música del mundo, r...",02 Je veux.mp3,03:39
9,14,1008,Savatage,416,Edge of Thorns,Edge of Thorns,356,13955.70,10,2022-02-23,"H:\Music\Metal, hard rock\Savatage\1993 Edge O...","H:\Music\Metal, hard rock\Savatage\1993 Edge O...",01 Edge of Thorns.mp3,05:56
10,13,18755,Gossip,2234,That's Not What I Heard,Where The Girls Are,107,4205.04,10,2022-02-22,"H:\Music\Indie, Rock Alt, Grunge\Gossip\2001 T...","H:\Music\Indie, Rock Alt, Grunge\Gossip\2001 T...",07 Where the Girls Are.mp3,01:47
11,12,25137,One Direction,2377,FOUR,Night Changes,226,8874.28,11,2022-09-08,"H:\Music\Pop, Pop Dance, Club\One Direction\20...","H:\Music\Pop, Pop Dance, Club\One Direction\20...",07 Night Changes.mp3,03:46
12,11,8988,Héroes del Silencio,166,Avalancha,Deshacer El Mundo,288,11295.00,11,2022-02-23,"H:\Music\Rock Ibérico, punkarra y rock latino\...","H:\Music\Rock Ibérico, punkarra y rock latino\...",03 Deshacer El Mundo.mp3,04:48
13,10,300,Celtas Cortos,127,Cuéntame Un Cuento,20 De Abril,236,9262.50,11,2022-02-23,"H:\Music\Rock Ibérico, punkarra y rock latino\...","H:\Music\Rock Ibérico, punkarra y rock latino\...",07 20 de abril.mp3,03:56
14,9,27965,Migue Benítez,2430,Cómo Apretar Los Dientes,Poeta Garrapatero,214,8398.07,12,2022-04-25,"H:\Music\Flamenco, Fusión, Música del mundo, r...","H:\Music\Flamenco, Fusión, Música del mundo, r...",27 Poeta Garrapatero.mp3,03:34
15,8,12253,Kyla La Grange,2060,Ashes,Heavy Stone,252,9872.33,12,2022-02-20,"H:\Music\Country, Folk, singersongwritters\Kyl...","H:\Music\Country, Folk, singersongwritters\Kyl...",08 Heavy Stone.mp3,04:12
16,7,13281,Arctic Monkeys,1321,AM,Do I Wanna Know?,272,10666.40,13,2022-04-01,"H:\Music\Britpop, Indie y rock alt británico\A...","H:\Music\Britpop, Indie y rock alt británico\A...",01 Do I Wanna Know .mp3,04:32
17,6,27041,Coque Malla,2408,La hora de los gigantes,Berlín,175,6855.67,14,2022-03-03,"H:\Music\Rock Ibérico, punkarra y rock latino\...","H:\Music\Rock Ibérico, punkarra y rock latino\...",05 Berlín.mp3,02:55
18,5,28095,Harry Styles,2376,Harry's House,Music for a sushi restaurant,194,7589.60,15,2022-05-24,"H:\Music\Pop, Pop Dance, Club\Harry Styles\202...","H:\Music\Pop, Pop Dance, Club\Harry Styles\202...",01 Music for a Sushi Restaurant.mp3,03:14
19,4,26925,El Canijo de Jerez,2414,Manual de jaleo,Como La Yerba (con La Mari),202,7923.05,16,2022-06-30,"H:\Music\Flamenco, Fusión, Música del mundo, r...","H:\Music\Flamenco, Fusión, Música del mundo, r...",10 Como La Yerba (con La Mari).mp3,03:22
20,3,28075,Quique González,1492,Sur en el valle,Luna de Trueno,209,8204.73,16,2022-04-26,H:\Music\Cantautores\Quique González\2021 Sur ...,H:\Music\Cantautores\Quique González\2021 Sur ...,07 Luna de trueno.mp3,03:29
21,2,27627,Ed Sheeran,2426,÷ (Divide),Shape of You,234,9162.94,18,2022-03-23,"H:\Music\Pop, Pop Dance, Club\Ed Sheeran\2017 ...","H:\Music\Pop, Pop Dance, Club\Ed Sheeran\2017 ...",04 Shape Of You.mp3,03:54
22,1,27770,Dua Lipa,2428,Future Nostalgia,Physical,194,7598.61,19,2022-03-28,"H:\Music\Pop, Pop Dance, Club\Dua Lipa\2020 Fu...","H:\Music\Pop, Pop Dance, Club\Dua Lipa\2020 Fu...",04 Physical.mp3,03:14

In [19]:
def listilla(carpeta,nombre,df):
    file = open(f'{carpeta}{nombre}.txt','w')
    file.write('#EXTM3U'+os.linesep)
    file.write(f'''#PLAYLIST:{nombre}'''+os.linesep)
    for i,r in df.iterrows():
        file.write(f'''#EXTINF:{r.secs}, {r.artist} - {r.album} - {r.title}'''+os.linesep)
        file.write(f'''{r.ruta} '''+os.linesep)
    file.close()
    pre, ext = os.path.splitext(file.name)
    os.rename(file.name, pre + '.m3u')

In [20]:
carpeta = '../output/listas_rep/'
nombre = 'yaguo22'
listilla(carpeta,nombre,cumplismo)