In [2]:
import sqlalchemy as alch
import os
import dotenv
dotenv.load_dotenv()
import pandas as pd
import sys
sys.path.append('../src')
import apilast as als
import sqltools as sqt
import requests
import datetime
import shutil
import numpy as np
import random
import tinytag
from tinytag import TinyTag

In [3]:
passw = os.getenv("mysql")
dbName = "musicablecero"
connectionData = f"mysql+pymysql://root:{passw}@localhost/{dbName}"
engine = alch.create_engine(connectionData)

In [4]:
biblio_aux = pd.read_sql_query(f'''
select distinct folder from biblioteca
order by id_bib
''',engine)

In [5]:
biblio_aux.folder.str.split('\\',expand=True).head()

,0,1,2,3,4,5,6
0,D:,Music,"Flamenco, Fusión, Música del mundo, ritmos lat...",Muchachito Bombo Infierno,2005 Vamos que nos vamos,,None
1,D:,Music,"Flamenco, Fusión, Música del mundo, ritmos lat...",G5,"2006 Tucaratupapi (Kiko Veneno, Muchachito, To...",,None
2,D:,Music,"Flamenco, Fusión, Música del mundo, ritmos lat...",Muchachito Bombo Infierno,2007 Visto lo Visto,,None
3,D:,Music,"Pop, Pop Dance, Club",Rob Thomas,2009 Cradlesong,,None
4,D:,Music,V.A,Miscelanea 3a,,None,None

In [6]:
biblio_aux[['unidad','raiz','genero','artista','disco','sub1','sub2']] = biblio_aux.folder.str.split('\\',expand=True)

In [7]:
# biblio.loc[biblio.sub1 != '','sub1'] = np.nan
# biblio.loc[biblio.sub1 != '','sub2'] = np.nan

In [8]:
biblio = biblio_aux.reset_index()
biblio.rename({'index':'id_ruta'},axis=1,inplace = True)
# biblio = biblio_aux.copy()
biblio.id_ruta =biblio.id_ruta + 1
biblio.head()

,id_ruta,folder,unidad,raiz,genero,artista,disco,sub1,sub2
0,1,"D:\Music\Flamenco, Fusión, Música del mundo, r...",D:,Music,"Flamenco, Fusión, Música del mundo, ritmos lat...",Muchachito Bombo Infierno,2005 Vamos que nos vamos,,None
1,2,"D:\Music\Flamenco, Fusión, Música del mundo, r...",D:,Music,"Flamenco, Fusión, Música del mundo, ritmos lat...",G5,"2006 Tucaratupapi (Kiko Veneno, Muchachito, To...",,None
2,3,"D:\Music\Flamenco, Fusión, Música del mundo, r...",D:,Music,"Flamenco, Fusión, Música del mundo, ritmos lat...",Muchachito Bombo Infierno,2007 Visto lo Visto,,None
3,4,"D:\Music\Pop, Pop Dance, Club\Rob Thomas\2009 ...",D:,Music,"Pop, Pop Dance, Club",Rob Thomas,2009 Cradlesong,,None
4,5,D:\Music\V.A\Miscelanea 3a\,D:,Music,V.A,Miscelanea 3a,,None,None

In [9]:
biblio.isna().sum()

id_ruta       0
folder        0
unidad        0
raiz          0
genero        0
artista       0
disco         1
sub1          6
sub2       1698
dtype: int64

In [10]:
biblio.columns

Index(['id_ruta', 'folder', 'unidad', 'raiz', 'genero', 'artista', 'disco',
       'sub1', 'sub2'],
      dtype='object')

In [11]:
print(', '.join(biblio.columns.tolist()))

id_ruta, folder, unidad, raiz, genero, artista, disco, sub1, sub2

In [12]:
biblio.drop('sub2',axis=1,inplace = True)

```sql
create table ruta_total (
	id_ruta int primary key, 
    folder varchar(190), 
    unidad varchar(5), 
    raiz varchar(10),
    genero varchar(70), 
    artista varchar(70),
    disco  varchar(100), 
    sub1 varchar(50)
)
;
```

In [ ]:
for i,r in biblio.iterrows():
    engine.execute(f'''
        insert into ruta_total (id_ruta,folder, unidad,raiz,genero,artista,disco,sub1)
        values ({r.id_ruta},'{sqt.car_esp(r.folder)}','D:','Music','{sqt.car_esp(r.genero)}','{sqt.car_esp(r.artista)}',
                    '{sqt.car_esp(r.disco)}','{sqt.car_esp(r.sub1)}')
        ''')

In [16]:
ruta_tot = pd.read_sql_query(f'''
select * from ruta_total
''',engine)

In [17]:
ruta_tot.head(1)

,id_ruta,folder,unidad,raiz,genero,artista,disco,sub1
0,1,"D:\Music\Britpop, Indie y rock alt británico\A...",D:,Music,"Britpop, Indie y rock alt británico",Alex Turner,2011 Submarine,

In [18]:
print('\\'.join(ruta_tot.iloc[1,2:].values))

D:\Music\Britpop, Indie y rock alt británico\Alt J\2012 An awesome wave\

In [19]:
id_can_df = pd.read_sql_query('''
select distinct id_can from biblioteca
''',engine)
id_cans = id_can_df.id_can.dropna().unique().tolist()

In [20]:
select_idcan = random.sample(id_cans,50)

In [21]:
bib_lista = pd.read_sql_query(f'''
select id_can, ruta, archivo from total
where id_can in {tuple(select_idcan)}
''',engine)

In [22]:
os.listdir('../../../../../../')

['c', 'd']

### copiando
```python 
# Source path
source = "/home/User/Documents/file.txt"
 
# Destination path
destination = "/home/User/Desktop/"
 
# Copy the content of
# source to destination
dest = shutil.copy2(source, destination)
```

In [23]:
destination = '../../zz_listas/primeraprueba/'

In [24]:
add_ruta = '../../../../../../d/'

In [25]:
for i,r in bib_lista.iterrows():
    source = add_ruta + r.ruta[3:].replace('\\','/')
    dest = shutil.copy2(source,destination)

In [26]:
lista_arc = []
for arch in os.listdir(destination):
    try:
              
        dicc = {}
        tag = TinyTag.get(destination+arch)
       
        dicc['artist'] = tag.artist
        dicc['album'] = tag.album 
        dicc['title'] = tag.title 
        dicc['concatenado'] = tag.artist.lower()+tag.album.lower()+tag.title.lower()
        lista_arc.append(dicc)

    except:
        print(f'cant be done: {arch}')
lista_df = pd.DataFrame(lista_arc)

In [27]:
concates = lista_df.concatenado.unique().tolist()

In [28]:
escritorio = '../../../Desktop/'

In [29]:
os.listdir(escritorio)

['desktop.ini',
 'lab-supervised-model-evaluation',
 'porisdata',
 'prueba.m3u',
 'pruebados.m3u8']

In [31]:
f = open(escritorio+'prueba.m3u','r', encoding="ISO-8859-1")
lines = [l for l in f.read().split('\n') if l.startswith('D:')]

In [32]:
biblioteca_tot = pd.read_sql_query(f'''
select id_can, ruta, folder, archivo
from total
where ruta in {tuple(lines)}
''',engine)

In [34]:
id_cans = biblioteca_tot.id_can.unique().tolist()

In [40]:
albums = pd.read_sql_query(f'''
select * from total
where id_can in {tuple(id_cans)}
''',engine)

In [43]:
rutismo = pd.read_sql_query(f'''
select * from ruta_total
where id_ruta in (select id_ruta from biblioteca where id_can in {tuple(id_cans)})
''',engine)

In [69]:
ruta_total = pd.read_sql_query('''
select * from ruta_total
''',engine)

In [72]:
ruta_total[(ruta_total.disco == '') | (ruta_total.disco.isna())]

,id_ruta,folder,unidad,raiz,genero,artista,disco,sub1
1766,1767,D:\Music\V.A\2015 Una Luz flamenca (Tributo A ...,D:,Music,V.A,2015 Una Luz flamenca (Tributo A Luz Casal),,None
1780,1781,D:\Music\V.A\Luis Ramiro Inéditas\,D:,Music,V.A,Luis Ramiro Inéditas,,None
1781,1782,D:\Music\V.A\Miscelánea 2\,D:,Music,V.A,Miscelánea 2,,None
1782,1783,D:\Music\V.A\Miscelanea 3a\,D:,Music,V.A,Miscelanea 3a,,None
1783,1784,D:\Music\V.A\Miscelánea\,D:,Music,V.A,Miscelánea,,None

In [45]:
escritorio

'../../../Desktop/'

In [46]:
path = os.path.join(escritorio, 'musicalidad')
os.mkdir(path)

In [47]:
os.listdir(escritorio)

['desktop.ini',
 'lab-supervised-model-evaluation',
 'musicalidad',
 'porisdata',
 'prueba.m3u',
 'pruebados.m3u8']

In [49]:
parent_dir = os.path.join(escritorio,'musicalidad')

In [80]:
for i, r in rutismo.iterrows():
    if r.disco != '' and r.sub1 == '':
        original_fold = os.path.join('../../../../../../d',r.raiz,r.genero,r.artista)
        folder = r.disco
        os.mkdir(os.path.join(parent_dir,folder))
        old_fold = os.path.join(original_fold,folder)
        new_fold = os.path.join(parent_dir,folder)
    elif r.disco == '':
        original_fold = os.path.join('../../../../../../d',r.raiz,r.genero)
        folder = r.artista
        os.mkdir(os.path.join(parent_dir,folder))
        old_fold = os.path.join(original_fold,folder)
        new_fold = os.path.join(parent_dir,folder)
    elif  r.disco != '' and r.sub1 != '':
        original_fold = os.path.join('../../../../../../d',r.raiz,r.genero,r.artista)
        folder = r.disco
        for sub in os.listdir(os.path.join(original_fold,folder)):
            os.mkdir(os.path.join(parent_dir,folder,sub))
            old_fold = os.path.join(original_fold,folder,sub)
            new_fold = os.path.join(parent_dir,folder,sub)
        
    for arc in os.listdir(old_fold):
        source = os.path.join(original_fold,folder,arc)
        destination = new_fold
        shutil.copy2(source, destination)
    print(r.disco+' done')

1997 Together Alone done
2001 Poesía básica done
1992 Que me parta un rayo done
2003 Rodeado de genios done
2003 Por no molestar done
1991 Little Earthquakes done
2006 Before We Stand... We Crawl done
1984 Born In The U.S.A done
 done
2001 Salitre 48 done
2008 Trapecista done
2011 Las cosas que no pude responder done
1993 Rid Of Me done

FileNotFoundError: [Errno 2] No such file or directory: '../../../Desktop/musicalidad/2010 Tu Labio Superior (Special Edition)/CD 1'

In [79]:
rutismo[rutismo.disco != ''].sub1.value_counts()

        16
CD 2     1
Name: sub1, dtype: int64