[apibilboard](https://rapidapi.com/LDVIN/api/billboard-api)

In [35]:
import sqlalchemy as alch
import os
import dotenv
dotenv.load_dotenv()
import pandas as pd
import sys
sys.path.append('../src')
import apilast as als
import sqltools as sqt
import listas as lst
import requests
import datetime
import shutil
import numpy as np
import random
import tinytag
from tinytag import TinyTag
import requests
import json

In [36]:
passw = os.getenv("mysql")
dbName = "musicablecero"
connectionData = f"mysql+pymysql://root:{passw}@localhost/{dbName}"
engine = alch.create_engine(connectionData)

In [39]:
albumstotal = pd.read_sql_query('''select * from total where id_alb in (select id_alb from total where released between 1985 and 1996
and id_bib is not null
group by id_alb
having  count(id_can) >= 2)''',engine)

In [48]:
albums_sel =  pd.read_sql_query('''select id_alb, artist, album,released, país, count(id_can) as temas from total where released between 1985 and 1996
and id_bib is not null
group by id_alb
having temas >= 2
''',engine)

In [51]:
albums_sel.groupby('released').agg({'album':'count'}).reset_index()

    released  album
0       1985     20
1       1986     28
2       1987     27
3       1988     31
4       1989     34
5       1990     29
6       1991     47
7       1992     39
8       1993     37
9       1994     39
10      1995     49
11      1996     45

In [49]:
albums_sel.groupby('país').agg({'album':'count'}).reset_index()

                    país  album
0               Alemania      9
1              Argentina      2
2              Australia     12
3                Bélgica      1
4                 Canadá      3
5              Eslovenia      1
6                 España    150
7         Estados Unidos    142
8                Francia      2
9                Irlanda      5
10              Islandia      2
11                Italia      2
12               Jamaica      1
13                México      2
14               Nigeria      1
15           Reino Unido     75
16  República Dominicana      2
17               Senegal      1
18             Sudáfrica      1
19                Suecia     10
20                 Suiza      1

In [54]:
albumstotal.sort_values('rep',ascending = False)

,id_art,artist,sexo,genero,band,país,id_alb,album,released,num_track,...,mins,kbs,folder,archivo,creado,tipo,bitrate,ruta,completo,rep
443,766,Tori Amos,fem,indie,s,Estados Unidos,1205,Little Earthquakes,1991,12.0,...,04:59,11733.10,"H:\Music\Indie, Rock Alt, Grunge\Tori Amos\199...",01 Crucify.mp3,2010-12-23 03:18:11,mp3,320.0,"H:\Music\Indie, Rock Alt, Grunge\Tori Amos\199...",Tori AmosLittle EarthquakesCrucify,192
918,11,Extremoduro,masc,rock ibérico,b,España,274,Deltoya,1992,12.0,...,04:56,11619.10,"H:\Music\Rock Ibérico, punkarra y rock latino\...",11 Papel Secante.mp3,2015-08-21 21:14:39,mp3,320.0,"H:\Music\Rock Ibérico, punkarra y rock latino\...",ExtremoduroDeltoyaPapel Secante,156
138,263,Christina y los subterráneos,fem,rock,b,España,382,Que Me Parta Un Rayo,1992,10.0,...,03:35,8466.91,H:\Music\Pop Rock en español y movida\Christin...,01 Tú por Mí.mp3,2015-08-21 20:57:50,mp3,320.0,H:\Music\Pop Rock en español y movida\Christin...,Christina y los subterráneosQue Me Parta Un Ra...,148
593,855,The Smiths,masc,post punk,b,Reino Unido,1392,The Queen Is Dead,1986,10.0,...,04:05,9578.04,"H:\Music\Britpop, Indie y rock alt británico\T...",09 There Is A Light That Never Goes Out.mp3,2015-08-21 22:24:40,mp3,320.0,"H:\Music\Britpop, Indie y rock alt británico\T...",The SmithsThe Queen Is DeadThere Is a Light Th...,147
358,148,Oasis,masc,britpop,b,Reino Unido,1037,(What's The Story) Morning Glory?,1995,12.0,...,04:48,11306.10,"H:\Music\Britpop, Indie y rock alt británico\O...",04 Don't Look Back In Anger.mp3,2010-12-20 16:18:19,mp3,320.0,"H:\Music\Britpop, Indie y rock alt británico\O...",Oasis(What's The Story) Morning Glory?Don't Lo...,139
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3645,140,Bob Marley & The Wailers,masc,reggae,b,Jamaica,210,Songs of Freedom,1992,24.0,...,03:21,7919.15,"H:\Music\Punky, rap metal, Ska y Reggae\Bob Ma...",05 One Love People Get Ready (original).mp3,2017-07-23 16:38:49,mp3,320.0,"H:\Music\Punky, rap metal, Ska y Reggae\Bob Ma...",Bob Marley & The WailersSongs of FreedomOne Lo...,0
3644,140,Bob Marley & The Wailers,masc,reggae,b,Jamaica,210,Songs of Freedom,1992,24.0,...,03:07,7353.79,"H:\Music\Punky, rap metal, Ska y Reggae\Bob Ma...",04 I'm Still Waiting.mp3,2017-07-23 16:38:42,mp3,320.0,"H:\Music\Punky, rap metal, Ska y Reggae\Bob Ma...",Bob Marley & The WailersSongs of FreedomI'm St...,0
3643,140,Bob Marley & The Wailers,masc,reggae,b,Jamaica,210,Songs of Freedom,1992,24.0,...,02:50,6693.57,"H:\Music\Punky, rap metal, Ska y Reggae\Bob Ma...",03 Simmer Down.mp3,2017-07-23 16:38:24,mp3,320.0,"H:\Music\Punky, rap metal, Ska y Reggae\Bob Ma...",Bob Marley & The WailersSongs of FreedomSimmer...,0
3642,140,Bob Marley & The Wailers,masc,reggae,b,Jamaica,210,Songs of Freedom,1992,24.0,...,02:34,6071.11,"H:\Music\Punky, rap metal, Ska y Reggae\Bob Ma...",02 One Cup of Coffee.mp3,2017-07-23 16:38:18,mp3,320.0,"H:\Music\Punky, rap metal, Ska y Reggae\Bob Ma...",Bob Marley & The WailersSongs of FreedomOne Cu...,0
5152,1552,Stevie Nicks,fem,rock,s,Estados Unidos,4376,Timespace: The Best of Stevie Nicks,1991,14.0,...,05:19,12509.80,H:\Music\Classic Rock\Stevie Nicks\1991 Timesp...,14 Desert Angel.mp3,2022-05-18 13:44:21,mp3,320.0,H:\Music\Classic Rock\Stevie Nicks\1991 Timesp...,Stevie NicksTimespace: The Best of Stevie Nick...,0

In [28]:


url = "https://billboard-api2.p.rapidapi.com/hot-100"

querystring = {"range":"1-10","date":"1979-09-01"}

headers = {"X-RapidAPI-Key":  os.getenv('RapidAPIKey'),
"X-RapidAPI-Host":os.getenv('RapidAPIHost')
}

response = requests.request("GET", url, headers=headers, params=querystring).json()

response.keys()

dict_keys(['info', 'content'])

In [29]:
response['info']

{'category': 'Billboard',
 'chart': 'HOT 100',
 'date': '1979-09-01',
 'source': 'Billboard-API'}

In [30]:
topten = response['content']

In [31]:
topten.keys()

dict_keys(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'])

In [32]:
ranking_list = ['rank', 'title', 'artist', 'last week', 'peak position', 'weeks on chart', 'detail']

In [33]:
lista_df = []
for i in range(1,11):
    dic = {}
    dic['date'] = response['info']['date']
    for r in ranking_list:
        dic[r] = topten[str(i)][r]
    lista_df.append(dic)

In [34]:
pd.DataFrame(lista_df)

,date,rank,title,artist,last week,peak position,weeks on chart,detail
0,1979-09-01,1,My Sharona,The Knack,1,1,11,same
1,1979-09-01,2,Good Times,Chic,2,1,12,same
2,1979-09-01,3,The Main Event/Fight,Barbra Streisand,3,3,12,same
3,1979-09-01,4,After The Love Has Gone,"Earth, Wind & Fire",4,4,9,same
4,1979-09-01,5,Don't Bring Me Down,Electric Light Orchestra,6,5,5,up
5,1979-09-01,6,The Devil Went Down To Georgia,The Charlie Daniels Band,7,6,11,up
6,1979-09-01,7,Lead Me On,Maxine Nightingale,8,7,15,up
7,1979-09-01,8,Sad Eyes,Robert John,10,8,16,up
8,1979-09-01,9,Mama Can't Buy You Love,Elton John,9,9,13,same
9,1979-09-01,10,I'll Never Love This Way Again,Dionne Warwick,14,10,11,up

In [27]:
topten['1']

{'rank': '1',
 'title': "Stayin' Alive",
 'artist': 'Bee Gees',
 'weeks at no.1': '4',
 'last week': '1',
 'peak position': '1',
 'weeks on chart': '12',
 'detail': 'same'}