In [1]:
import requests
import pandas as pd
import os
from dotenv import load_dotenv
load_dotenv()
from bs4 import BeautifulSoup
from datetime import datetime,timedelta
import sqlalchemy as alch
import sys
sys.path.append('../src')
import apilast as als
import sqltools as sqt
import listas as lst

In [2]:
passw = os.getenv("mysql")
dbName = "musicablecero"
connectionData = f"mysql+pymysql://root:{passw}@localhost/{dbName}"
engine = alch.create_engine(connectionData)

In [3]:
# rapidapikey = os.getenv("rapidapikey")
# rapidapihost = os.getenv("rapidapihost")
# date = '1979-09-01'
# ran = '1-10'

In [4]:
# url = "https://billboard-api2.p.rapidapi.com/hot-100"

# querystring = {"date":date,"range":ran}

# headers = {
#     "X-RapidAPI-Key": rapidapikey,
#     "X-RapidAPI-Host": rapidapihost
# }

In [5]:
# response = requests.request("GET", url, headers=headers, params=querystring)

In [6]:
# date19790101 = response.json()

In [8]:
nameclass = 'c-label a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only'
nameclassdos = 'c-label a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet'

In [15]:
datestring = '1958-08-04'
chartdate = datetime.strptime(datestring,"%Y-%m-%d")
oneweek = timedelta(weeks=1)

nameclass = 'c-label a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only'
nameclassdos = 'c-label a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet'

lista = []
while chartdate < datetime.now():
    urldate = chartdate.strftime("%Y-%m-%d")
    url =  f"https://www.billboard.com/charts/hot-100/{urldate}/"
    html = requests.get(url)
    soup = BeautifulSoup(html.content,"html.parser")
    
    tags = soup.find_all('div',{"class":"o-chart-results-list-row-container"})
    for t in tags:
        title = t.find("h3").getText().strip()
        rank = int(t.find("span").getText().strip())
        try:
            artist = t.find("span",{'class':nameclass}).getText().strip()
        except:
            artist = t.find("span",{'class':nameclassdos}).getText().strip()
        
        dic = {}
        dic['date'] = chartdate
        dic['rank'] = rank
        dic['artist'] = artist
        dic['title'] = title
        lista.append(dic)
        
        engine.execute(f"""
                INSERT INTO billboard (listdate,ranking, artist,  title)
                VALUES ('{sqt.car_esp(urldate)}', {rank}, '{sqt.car_esp(artist)}',  '{sqt.car_esp(title)}');
                """)
    
    if chartdate.month == 12 and chartdate.day >=25 :
        print(urldate + " done")
    
    chartdate += oneweek
result = pd.DataFrame(lista)

1958-12-29 done
1959-12-28 done
1960-12-26 done
1961-12-25 done
1962-12-31 done
1963-12-30 done
1964-12-28 done
1965-12-27 done
1966-12-26 done
1967-12-25 done
1968-12-30 done
1969-12-29 done
1970-12-28 done
1971-12-27 done
1972-12-25 done
1973-12-31 done
1974-12-30 done
1975-12-29 done
1976-12-27 done
1977-12-26 done
1978-12-25 done
1979-12-31 done
1980-12-29 done
1981-12-28 done
1982-12-27 done
1983-12-26 done
1984-12-31 done
1985-12-30 done
1986-12-29 done
1987-12-28 done
1988-12-26 done
1989-12-25 done
1990-12-31 done
1991-12-30 done
1992-12-28 done
1993-12-27 done
1994-12-26 done
1995-12-25 done
1996-12-30 done
1997-12-29 done
1998-12-28 done
1999-12-27 done
2000-12-25 done
2001-12-31 done
2002-12-30 done
2003-12-29 done
2004-12-27 done
2005-12-26 done
2006-12-25 done
2007-12-31 done
2008-12-29 done
2009-12-28 done
2010-12-27 done
2011-12-26 done
2012-12-31 done
2013-12-30 done
2014-12-29 done
2015-12-28 done
2016-12-26 done
2017-12-25 done
2018-12-31 done
2019-12-30 done
2020-12-28 done
2021-12-27 done
2022-12-26 done

In [17]:
result

,date,rank,artist,title
0,1958-08-04,1,Ricky Nelson,Poor Little Fool
1,1958-08-04,2,Perez Prado And His Orchestra,Patricia
2,1958-08-04,3,Bobby Darin,Splish Splash
3,1958-08-04,4,Elvis Presley With The Jordanaires,Hard Headed Woman
4,1958-08-04,5,Kalin Twins,When
...,...,...,...,...
336882,2023-02-20,96,Jordan Davis,Next Thing You Know
336883,2023-02-20,97,Metro Boomin Featuring Don Toliver & Future,Too Many Nights
336884,2023-02-20,98,Nengo Flow & Bad Bunny,Gato de Noche
336885,2023-02-20,99,Superstar Pride,Painting Pictures
336886,2023-02-20,100,Morgan Wallen,Tennessee Fan

In [22]:
result[result['date'] == '1958-08-04']['rank'].value_counts()

63     2
50     2
74     2
73     1
72     1
      ..
31     1
30     1
29     1
28     1
100    1
Name: rank, Length: 97, dtype: int64

In [76]:
total_numbers = result.groupby(['date']).agg({'rank':'count'}).reset_index()

In [83]:
lessthan = total_numbers[total_numbers['rank'] < 100].copy()
lessthan['date'] = lessthan['date'].astype('object')

In [84]:
dateslist = lessthan['date'].unique().tolist()

In [85]:
numbers = list(range(1, 101))

In [86]:
for d in dateslist:
    rankslist = result[result['date'] == d]['rank'].unique().tolist()
    for n in numbers:
        if n not in rankslist:
            print(d.strftime("%Y-%m-%d")+' '+str(n))

1976-11-29 35
1976-12-06 26
1976-12-13 22
1976-12-20 19
1976-12-27 19
1977-01-03 17
1977-01-10 15
1977-01-17 13
1977-01-17 19
1977-01-24 13
1977-02-07 31
1977-02-14 32
1977-02-21 49
1977-02-28 59