In [3]:
import os
from os import walk
import pandas as pd
import tinytag
from tinytag import TinyTag
import numpy as np

In [4]:
os.listdir('../../..')

['$RECYCLE.BIN',
 'Base de datos',
 'Descargas',
 'Documentos',
 'Documents',
 'Escritorio',
 'gitproyects',
 'holi.txt',
 'Imágenes',
 'Juegos',
 'Music',
 'Música Miscelánea',
 'Programas',
 'Soulseek',
 'System Volume Information',
 'Torrent',
 'web.txt',
 'zz imagnes']

In [5]:
total = []
for (path, ficheros, archivos) in walk("../../../Music"):
    dicc = {}
    dicc['path'] =  path
    dicc['ficheros'] = ficheros
    dicc['archivos'] = archivos
    total.append(dicc)
    #print(dicc['path'])

In [6]:
total[5]

{'path': '../../../Music/Britpop, Indie y rock alt británico/Alt J/2012 An awesome wave',
 'ficheros': [],
 'archivos': ['01 Intro.mp3',
  '02 ❦ (Ripe & Ruin).mp3',
  '03 Tessellate.mp3',
  '04 Breezeblocks.mp3',
  '05 ❦ (Guitar).mp3',
  '06 Something Good.mp3',
  '07 Dissolve Me.mp3',
  '08 Matilda.mp3',
  '09 Ms.mp3',
  '10 Fitzpleasure.mp3',
  '11 ❦ (Piano).mp3',
  '12 Bloodflood.mp3',
  '13 Taro.mp3',
  'folder.jpg']}

In [7]:
music_fol = pd.DataFrame(total)

In [8]:
music_fol.sample(3)

,path,ficheros,archivos
2022,../../../Music/Pop Rock en español y movida/Mo...,[],"[01 Playas de Mazarrón.mp3, 02 Es tu turno.mp3..."
1349,"../../../Music/Funk, Jazz, Blues, Swing y Rock...",[],"[01 Umbrella.mp3, 02 Love in This Club.mp3, 03..."
877,"../../../Music/Country, Folk, singersongwritte...",[],"[.DS_Store, 01 Time Of The Preacher.mp3, 02 I ..."

In [9]:
music_fol.drop('ficheros',axis=1,inplace = True)

In [10]:
music_fol.sample(3)

,path,archivos
50,"../../../Music/Britpop, Indie y rock alt britá...","[01 Dog Days Are Over.mp3, 02 Rabbit Heart (Ra..."
1672,"../../../Music/Indie, Rock Alt, Grunge/Soul As...",[]
1562,"../../../Music/Indie, Rock Alt, Grunge/Bon Ive...",[folder.jpg]

In [11]:
#sacar archivos de la lista

In [12]:
archivos = []
for i,r in music_fol.iterrows():
    for a in r.archivos:
        dicc = {}
        dicc['archivo'] = a
        dicc['ruta'] = r.path
        archivos.append(dicc)
music_arc = pd.DataFrame(archivos)

In [13]:
music_arc.shape

(23329, 2)

In [14]:
music_arc.sample(3)

,archivo,ruta
7668,13 One More Cup of Coffee.mp3,"../../../Music/Country, Folk, singersongwritte..."
2602,01 No sé si lo hice bien.mp3,../../../Music/Cantautores/Rebeca Jiménez/2008...
4080,04 Backstreets.mp3,../../../Music/Classic Rock/Bruce Springsteen/...

In [15]:
music_arc['exten'] = music_arc.archivo.str[-3:].str.lower()

In [16]:
music_arc.exten.value_counts() #only read = .mp3 // wma // m4a

mp3    21137
jpg     1859
.db      148
wma       51
m4a       48
ngs       32
ini       30
ore        8
peg        4
png        4
tml        3
txt        2
ico        1
m3u        1
bmp        1
Name: exten, dtype: int64

In [17]:
arch_val = ['mp3','wma','m4a'] #lista de archivos válidos #intentar añadir más

In [18]:
music_tot = music_arc[music_arc['exten'].isin(arch_val)].reset_index()

In [19]:
music_tot.shape

(21236, 4)

In [20]:
music_tot.head()

,index,archivo,ruta,exten
0,2,01 Stuck On The Puzzle (Intro).mp3,"../../../Music/Britpop, Indie y rock alt britá...",mp3
1,3,02 Hiding Tonight.mp3,"../../../Music/Britpop, Indie y rock alt britá...",mp3
2,4,03 Glass In The Park.mp3,"../../../Music/Britpop, Indie y rock alt britá...",mp3
3,5,04 It's Hard To Get Around The Wind.mp3,"../../../Music/Britpop, Indie y rock alt britá...",mp3
4,6,05 Stuck On The Puzzle.mp3,"../../../Music/Britpop, Indie y rock alt britá...",mp3

In [21]:
music_tot['ruta_total'] = music_tot.ruta+'/'+music_tot.archivo

In [25]:
music_tot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21236 entries, 0 to 21235
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   index       21236 non-null  int64
 1   archivo     21236 non-null  object
 2   ruta        21236 non-null  object
 3   exten       21236 non-null  object
 4   ruta_total  21236 non-null  object
dtypes: int64(1), object(4)
memory usage: 829.7+ KB

In [22]:
# self._filehandler = filehandler
# self._filename = None  # for debugging purposes
# self._default_encoding = None  # allow override for some file formats
# self.filesize = filesize
# self.album = None
# self.albumartist = None
# self.artist = None
# self.audio_offset = None
# self.bitrate = None
# self.channels = None
# self.comment = None
# self.composer = None
# self.disc = None
# self.disc_total = None
# self.duration = None
# self.extra = defaultdict(lambda: None)
# self.genre = None
# self.samplerate = None
# self.title = None
# self.track = None
# self.track_total = None
# self.year = None
# self._load_image = False
# self._image_data = None
# self._ignore_errors = ignore_errors

In [26]:
listatag = []

for i,r in music_tot.iterrows():
    
    try:

        dicc = {}
        #tag = TinyTag.get({str(r.ruta)}+'/'+{str(r.archivo)})
        tag = TinyTag.get(r.ruta_total)
        dicc['albumartist'] = tag.albumartist
        dicc['artist'] = tag.artist
        dicc['genre'] = tag.genre
        dicc['album'] = tag.album
        dicc['year'] = tag.year
        dicc['track'] = tag.track    
        #dicc['track_total'] = tag.track_total
        dicc['title'] = tag.title    
        dicc['duration'] = tag.duration
        dicc['filesize'] = tag.filesize
        dicc['audio_offset'] = tag.audio_offset
        #dicc['channels'] = l.channels
        #dicc['comment'] = l.comment
        #dicc['composer'] = l.composer
        #dicc['disc_total'] = l.disc_total
        #dicc['extra'] = l.extra
        dicc['samplerate'] = tag.samplerate        
        dicc['archivo'] = r.archivo
        dicc['ruta'] = r.ruta        
        #dicc['ruta_total'] = f'{r.ruta}/{r.archivo}'

        listatag.append(dicc)

        if i%1000 == 0:
            print(i, 'done', r.ruta, r.archivo)
        elif i == len(music_tot)-1:
            print('done, bitches')
    except Exception as e:
        print(e)
        print(f'cant be done: {i}, {r.ruta_total}')

0 done ../../../Music/Britpop, Indie y rock alt británico/Alex Turner/2011 Submarine 01 Stuck On The Puzzle (Intro).mp3
1000 done ../../../Music/Britpop, Indie y rock alt británico/Royal blood/2017 How Did We Get So Dark 04 She's Creeping.mp3
2000 done ../../../Music/Cantautores/Pablo Ager/2005 Durmiendo en azoteas 10 Cenizas.mp3
3000 done ../../../Music/Classic Punk, New Wave, Garage Rock y psicodelia/Iggy Pop & The Stooges/2016 Post Pop Depression 01 Break Into Your Heart.mp3
4000 done ../../../Music/Classic Rock/Frank Zappa/1966 Freak Out 11 You're Probably Wondering Why I'm Here.mp3
5000 done ../../../Music/Classic Rock/The Rolling Stones/1965 Out of Our Heads (US) 01 Mercy Mercy.mp3
6000 done ../../../Music/Country, Folk, singersongwritters/Kathleen Edwards/2002 Failer 05 12 Bellevue.mp3
7000 done ../../../Music/Country, Folk, singersongwritters/Tom Waits/1992 Bone Machine 15 Let Me Get up on It.mp3
8000 done ../../../Music/Electronica, House, Chill out & Inndustrial/William Orbit/1993 Strange Cargo III 05 A Touch of the Night .mp3
9000 done ../../../Music/Flamenco, Fusión, Música del mundo, ritmos latinos y Francia/Los Delinqüentes/2003 Arquitectura del aire en la calle 12 El rey del regaliz.mp3
10000 done ../../../Music/Flamenco, Fusión, Música del mundo, ritmos latinos y Francia/Tribalistas/2002 Tribalistas 02 Um a um.mp3
11000 done ../../../Music/Hip hop, funky, R&B/Prince/1984 - Purple Rain OST (Prince & The Revolution) 06 When Doves Cry.mp3
12000 done ../../../Music/Indie, Rock Alt, Grunge/Arcade Fire/2003 Arcade Fire 04 The Woodland National Anthem.mp3
13000 done ../../../Music/Indie, Rock Alt, Grunge/Sonic Youth/1986 Evol 02 Shadow Of A Doubt.mp3
14000 done ../../../Music/Metal, hard rock/Extreme/1990 Extreme II Pornograffitti (A Funked Up Fairy Tale) 07 It ('s a Monster).mp3
15000 done ../../../Music/Pop Rock en español y movida/Alejandro Sanz/1991 - Viviendo deprisa 02 Pisando Fuerte.mp3
16000 done ../../../Music/Pop Rock en español y movida/Tam Tam Go/1990 Espaldas Mojadas 05 Better ways.mp3
17000 done ../../../Music/Pop, Pop Dance, Club/Matchbox 20/2000 Rarities, Acoustics & Live 02 Argue (Live).mp3
18000 done ../../../Music/Punky, rap metal, Ska y Reggae/Girls Against Boys/1994 Venus Luxure No. 1 Baby 04 Satin Down.mp3
19000 done ../../../Music/Rock Ibérico, punkarra y rock latino/Extremoduro/2013 Para Todos Los Publicos 03 ¡Qué borde era mi valle!.mp3
20000 done ../../../Music/Rock Ibérico, punkarra y rock latino/Ska-P/1994 Ska-P 09 Como Un Rayo.mp3
21000 done ../../../Music/V.A/Miscelánea Stacie Orrico - Stuck.mp3
done, bitches

In [27]:
music_db = pd.DataFrame(listatag)

In [28]:
music_db.sample(3)

,albumartist,artist,genre,album,year,track,title,duration,filesize,audio_offset,samplerate,archivo,ruta
19181,Héroes Del Silencio,Héroes Del Silencio,Rock,Avalancha,1995,11,Opio,379.357790,15200161,27144.0,44100.0,11 Opio.mp3,"../../../Music/Rock Ibérico, punkarra y rock l..."
6109,Laura Marling,Laura Marling,Folk,Semper Femina,2017,07,Next Time,241.625076,9679088,16713.0,44100.0,07 Next Time.mp3,"../../../Music/Country, Folk, singersongwritte..."
9633,Olivia Ruiz,Olivia Ruiz,Pop,La Chica Chocolate,2009,04,Non-Dits,246.290923,9890520,37793.0,44100.0,04 Non-Dits.mp3,"../../../Music/Flamenco, Fusión, Música del mu..."

In [29]:
music_db.shape

(21236, 13)

In [30]:
music_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21236 entries, 0 to 21235
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   albumartist   21234 non-null  object
 1   artist        21236 non-null  object
 2   genre         14471 non-null  object
 3   album         21236 non-null  object
 4   year          21236 non-null  object
 5   track         20375 non-null  object
 6   title         21236 non-null  object
 7   duration      21235 non-null  float64
 8   filesize      21236 non-null  int64
 9   audio_offset  21136 non-null  float64
 10  samplerate    21235 non-null  float64
 11  archivo       21236 non-null  object
 12  ruta          21236 non-null  object
dtypes: float64(3), int64(1), object(9)
memory usage: 2.1+ MB

In [31]:
music_db.isna().sum()

albumartist        2
artist             0
genre           6765
album              0
year               0
track            861
title              0
duration           1
filesize           0
audio_offset     100
samplerate         1
archivo            0
ruta               0
dtype: int64

In [32]:
music_db.albumartist.fillna(music_db.artist,inplace = True)

In [33]:
music_db.genre.fillna('unknown',inplace = True)

In [34]:
music_db[music_db['track'].isna()].sample(3)

,albumartist,artist,genre,album,year,track,title,duration,filesize,audio_offset,samplerate,archivo,ruta
20471,Juampa y La raja,Juampa y La raja,unknown,La Paja En La Farola,1998,None,Vampiro sin picha,198.069931,7922787,2121.0,44100.0,Juampa y La raja - Vampiro sin picha.mp3,../../../Music/V.A/Miscelanea 3a
21062,The Marvelettes,The Marvelettes,Soul,Please Mr. Postman,1961,None,Please Mr. Postman,151.322536,6054520,2058.0,44100.0,The Marvelettes - Please Mr. Postman.mp3,../../../Music/V.A/Miscelánea
20511,Shakira,Shakira,Dance/Latin2,Oral Fixation Vol. 2,2006,None,Hips don't lie (feat. Wyclef Jean),220.492400,8819021,1712.0,44100.0,Shakira - Hips don't lie (feat. Wyclef Jean).mp3,../../../Music/V.A/Miscelanea 3a

In [35]:
music_db.track = music_db.track.str.strip().fillna('0').astype('int64')

In [36]:
music_db.track.unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20,  0, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43])

In [37]:
music_db[music_db['duration'].isna()]

,albumartist,artist,genre,album,year,track,title,duration,filesize,audio_offset,samplerate,archivo,ruta
14772,The Pretty Reckless,The Pretty Reckless,Hard Rock,Who You Selling For,2016,6,Back To The River (feat. Warren Haynes),NaN,12446083,NaN,NaN,06 Back To The River (feat. Warren Haynes).mp3,"../../../Music/Metal, hard rock/The Pretty Rec..."

In [38]:
#Back To The River (feat. Warren Haynes) 05:11

In [39]:
music_db.duration = np.where(music_db.title == 'Back To The River (feat. Warren Haynes)',311,music_db.duration)

In [40]:
music_db.duration.value_counts().head(5)

220.968711    2
251.616500    2
247.313698    2
265.168715    2
252.242128    2
Name: duration, dtype: int64

In [41]:
music_db[music_db['audio_offset'].isna()].sample(5)

,albumartist,artist,genre,album,year,track,title,duration,filesize,audio_offset,samplerate,archivo,ruta
11130,Vanexxa,Vanexxa,Hip Hop,Se Rompe O Se Raja,2006,15,He Matado A Mis Peres,240.738000,3893965,NaN,44100.0,15 Pista 15.wma,"../../../Music/Hip hop, funky, R&B/Vanexxa/200..."
15113,Amaral,Amaral,unknown,Hacia Lo Salvaje,2011,1,Hacia Lo Salvaje,254.955102,8840640,NaN,44100.0,01 Hacia Lo Salvaje.m4a,../../../Music/Pop Rock en español y movida/Am...
499,Franz Ferdinand,Franz Ferdinand,Rock,Franz Ferdinand,2004,11,40,204.289161,8591568,NaN,44100.0,11 40.m4a,"../../../Music/Britpop, Indie y rock alt britá..."
1824,Luis Ramiro,Luis Ramiro,Cantautor,Dramas Y Caballeros,2009,3,Diecisiete,204.846000,3342452,NaN,44100.0,03 Diecisiete.wma,../../../Music/Cantautores/Luis Ramiro/2009 Dr...
20046,Ska-P,Ska-P,unknown,Lágrimas Y Gozos,2008,10,El Tercero De La Foto,230.574150,4566520,NaN,44100.0,10 El Tercero De La Foto.m4a,"../../../Music/Rock Ibérico, punkarra y rock l..."

In [42]:
music_db.audio_offset.fillna(0.0,inplace = True)

In [43]:
music_db[music_db['samplerate'].isna()]

,albumartist,artist,genre,album,year,track,title,duration,filesize,audio_offset,samplerate,archivo,ruta
14772,The Pretty Reckless,The Pretty Reckless,Hard Rock,Who You Selling For,2016,6,Back To The River (feat. Warren Haynes),311.0,12446083,0.0,NaN,06 Back To The River (feat. Warren Haynes).mp3,"../../../Music/Metal, hard rock/The Pretty Rec..."

In [44]:
music_db.samplerate.fillna(0.0,inplace = True)

In [45]:
 music_db.year.unique()

array(['2011', '2012', '2014', '2006', '2007', '2009', '2013', '2018',
       '1996', '2016', '2019', '1993', '1994', '1995', '1997', '1999',
       '2015', '2000', '2002', '2005', '2008', '2010', '2004', '1992',
       '2001', '1998', '2017', '1991', '1983', '1985', '1990', '1984',
       '1986', '1987', '1989', '2003', '2020', '1981', '', '1976', '1978',
       '1979', '1980', '1977', '1982', '1988', '1970', '1975', '1972',
       '1967', '1963', '1966', '1968', '1969', '1971', '1974', '1973',
       '1965', '1964', '1960', '20102010', '1958', '1956', '1955', '1959',
       '1962', '1957', '2021', '1942', '1961', '0', '1952', '1938'],
      dtype=object)

In [46]:
dicyear = {'':'0','20102010':'2010'}
music_db.year = music_db.year.replace(dicyear)

In [47]:
music_db.year.unique()

array(['2011', '2012', '2014', '2006', '2007', '2009', '2013', '2018',
       '1996', '2016', '2019', '1993', '1994', '1995', '1997', '1999',
       '2015', '2000', '2002', '2005', '2008', '2010', '2004', '1992',
       '2001', '1998', '2017', '1991', '1983', '1985', '1990', '1984',
       '1986', '1987', '1989', '2003', '2020', '1981', '0', '1976',
       '1978', '1979', '1980', '1977', '1982', '1988', '1970', '1975',
       '1972', '1967', '1963', '1966', '1968', '1969', '1971', '1974',
       '1973', '1965', '1964', '1960', '1958', '1956', '1955', '1959',
       '1962', '1957', '2021', '1942', '1961', '1952', '1938'],
      dtype=object)

In [48]:
 music_db.year = music_db.year.str.strip().astype('int64')

In [49]:
music_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21236 entries, 0 to 21235
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   albumartist   21236 non-null  object
 1   artist        21236 non-null  object
 2   genre         21236 non-null  object
 3   album         21236 non-null  object
 4   year          21236 non-null  int64
 5   track         21236 non-null  int64
 6   title         21236 non-null  object
 7   duration      21236 non-null  float64
 8   filesize      21236 non-null  int64
 9   audio_offset  21236 non-null  float64
 10  samplerate    21236 non-null  float64
 11  archivo       21236 non-null  object
 12  ruta          21236 non-null  object
dtypes: float64(3), int64(3), object(7)
memory usage: 2.1+ MB

In [50]:
music_db.to_csv('../data/music_db.csv',index=False)