In [1]:
import sqlalchemy as alch
import os
import dotenv
import pandas as pd

In [2]:
dotenv.load_dotenv()

True

In [29]:
passw = os.getenv("mysql")
dbName = "musicable"
connectionData = f"mysql+pymysql://root:{passw}@localhost/{dbName}"
engine = alch.create_engine(connectionData)

In [30]:
engine

Engine(mysql+pymysql://root:***@localhost/musicable)

In [31]:
# engine.execute("""
# CREATE TEMPORARY TABLE publications.stores_sales_summary
# SELECT stor_name AS Store, COUNT(DISTINCT(ord_num)) AS Orders, COUNT(title_id) AS Items, SUM(qty) AS Qty
# FROM sales
# INNER JOIN stores ON stores.stor_id = sales.stor_id
# GROUP BY Store;
# """
# )

In [32]:
music_df = pd.read_csv('../data/music_db.csv')

In [33]:
music_df.sample(3)

,albumartist,artist,genre,album,year,track,title,duration,filesize,audio_offset,samplerate,archivo,ruta
9919,Seguridad Social,Seguridad Social,unknown,Furia latina,1993,5,El viajero,466.768627,18702110,36561.0,44100.0,05 El viajero.mp3,"../../../Music/Flamenco, Fusión, Música del mu..."
5877,Joan Baez,Joan Baez,Folk,Joan Baez,1960,3,Fare Thee Well (10.000 Miles),202.236785,8103213,14372.0,44100.0,03 Fare Thee Well (10.000 Miles).mp3,"../../../Music/Country, Folk, singersongwritte..."
11996,Antony And The Johnsons,Antony And The Johnsons,unknown,Swanlights,2010,11,Christina's Farm,442.196667,17719528,29806.0,44100.0,11 Christina's Farm.mp3,"../../../Music/Indie, Rock Alt, Grunge/Antony ..."

In [34]:
music_df.isna().sum()

albumartist      0
artist           0
genre            0
album           16
year             0
track            0
title            0
duration         0
filesize         0
audio_offset     0
samplerate       0
archivo          0
ruta             0
dtype: int64

In [35]:
#music_df[music_df['album'].isna()]

In [36]:
music_df.album.fillna('album_desconocido',inplace = True)

In [37]:
artistas = list(music_df.artist.unique())

In [38]:
def getid (que,value):
    try:
        if que == 'artist':
            id_art = list(engine.execute(f"""
                                        SELECT idartists FROM artists WHERE artist = "{value}";
                                        """))
            return id_art[0][0]
        elif que == 'albums':
            if '"' in value:
                
                id_alb = list(engine.execute(f"""
                                            SELECT idalbums FROM albums WHERE album = '{value}';
                                            """))
                return id_alb[0][0]
            else:
                
                id_alb = list(engine.execute(f"""
                                            SELECT idalbums FROM albums WHERE album = "{value}";
                                            """))
                return id_alb[0][0]
    except:
        return 0

In [39]:
def check (que, value):
        if que == 'artist':
            query = list(engine.execute(f"""
                                        SELECT idartists FROM artists WHERE artist = "{value}";
                                        """))
            if len(query) > 0:
                return True
            else:
                return False
        if que == 'albums':
            if '"' in value:
                
                query = list(engine.execute(f"""
                                            SELECT idalbums FROM albums WHERE album = '{value}';
                                            """))
                if len(query) > 0:
                    return True
                else:
                    return False
            else:
                
                query = list(engine.execute(f"""
                                            SELECT idalbums FROM albums WHERE album = "{value}";
                                            """))
                if len(query) > 0:
                    return True
                else:
                    return False

In [40]:
def insert_art (value):
    que = 'artist'
    if check(que,value):
        return "artist exist"
    else:
        engine.execute(f"""
        INSERT INTO artists (artist) VALUES ("{value}");
        """)
        return f'{artist} inserted'

In [41]:
# for i, r in music_df.iterrows():
#     insert_art(r.artist)

In [42]:
# for i, r in music_df.iterrows():
#     insert_alb(r.album,r.year)

In [43]:
# for i,r in music_df.iterrows():
#     art_id = getid('artist',r.artist)
#     alb_id = getid('albums',r.album)
#     print(art_id,alb_id)

In [44]:
def insert_alb(album,released):
    que = "albums"
    alb_no = []
    
    try:
        if check(que,album):
            return f'{album} exists'
        else:
            try:
                if '"' in album:
                    engine.execute(f"""
                    INSERT INTO albums (album,released) VALUES ('{album}','{released}');
                    """)
                else:   
                    engine.execute(f"""
                    INSERT INTO albums (album,released) VALUES ("{album}","{released}");
                    """)
            except:
                alb_no.append(album)
                print(alb_no)
                next
    except:
        alb_no.append(album)
        print(alb_no)
        next
        #return alb_no

In [45]:
def insert_tema (temazo,art,alb,track,duration,size,archivo,ruta):
    
    try:
        if check_tema (temazo,art,alb):
            return f'{temazo} exists'
        else:
            try:
                id_art = getid ('artist',art)
                id_alb = getid('albums',alb)
                if '"' in temazo:
                    engine.execute(f"""
                    INSERT INTO tracks (title,track,duration,size,archivo,ruta,albums_idalbums,artists_idartists)
                    VALUES ('{temazo}',{track},{duration},{size},"{archivo}","{ruta}",{id_alb},{id_art});
                    """)
                else:
                    engine.execute(f"""
                    INSERT INTO tracks (title,track,duration,size,archivo,ruta,albums_idalbums,artists_idartists)
                    VALUES ("{temazo}",{track},{duration},{size},"{archivo}","{ruta}",{id_alb},{id_art});
                    """)
            except:
                print()
    except:
        print(temazo)
        next
        #return alb_no

In [46]:
music_df.columns

Index(['albumartist', 'artist', 'genre', 'album', 'year', 'track', 'title',
       'duration', 'filesize', 'audio_offset', 'samplerate', 'archivo',
       'ruta'],
      dtype='object')

In [47]:
# for i,r in music_df.iterrows():
#     check_tema(r.title,r.artist,r.album)

In [48]:
# for i,r in music_df.iterrows():
#     insert_tema (r.title,r.artist,r.album,r.track,r.duration,r.filesize,r.archivo,r.ruta)

In [49]:
def check_tema (temazo,art,alb):
    id_art = getid ('artist',art)
    id_alb = getid('albums',alb)
    try:
    
        if '"' in temazo:

            query = list(engine.execute(f"""
                                        SELECT idtracks FROM tracks WHERE title = '{temazo}' and albums_idalbums = {id_alb};
                                        """))
            if len(query) > 0:
                
                return query
            else:
                return "no existe"
            
        else:

            query = list(engine.execute(f"""
                                        SELECT idtracks FROM tracks WHERE title = "{temazo}" and albums_idalbums = {id_alb};
                                        """))
            if len(query) > 0:
                
                return query
            else:
                return "no existe"
    except:
        print(f'cant do {temazo, art, alb}')
        next

In [ ]:
# for i,r in music_df.iterrows():
#     holi = check_tema (r.title,r.artist,r.album)
#     print(holi)