In [24]:
import requests 
import json
import os
from dotenv import load_dotenv
import pandas as pd
from pandas import json_normalize
import numpy as np
import sys
sys.path.append('../src')
import apilast as als
import sqltools as sqt
import sqlalchemy as alch
import cleansing as cls

In [25]:
load_dotenv()

True

In [26]:
keylast = os.getenv("keylast") #apikey de lastfm

In [27]:
l_user = 'sinatxester'

In [28]:
limit = 1000
lastuts = sqt.maxuts()
# lastuts = 1640351615 +1 
# lastuts = 1628946354

In [29]:
lastuts

1644419747

In [30]:
recenttracks = als.req_lastfm (l_user,limit,lastuts)

Now playing: Robe - Destrozares

In [31]:
# if recenttracks.shape[0] <= 10:
#     display(recenttracks)
# else:
#     display(recenttracks.head(10))

In [32]:
type(recenttracks)

str

In [36]:
if type(recenttracks) == str:
    print(recenttracks)

No hay nuevos scrobbles

In [37]:
if type(recenttracks) == str:
    print('No hay nuevos scrobbles')
    
elif type(recenttracks) == pd.DataFrame:
    for i,r in recenttracks.iterrows():
        sqt.insert_data(r.uts, r.artist, r.artist_mbid, r.album, r.album_mbid, r.title, r.track_mbid)

No hay nuevos scrobbles

In [34]:
# insertadas = sqt.insert_scro()
# insertadas

In [35]:
insertadas = sqt.act_scro()
insertadas

Filas actualizadas: 0

Empty DataFrame
Columns: [uts, artist, artist_mbid, album, album_mbid, title, track_mbid, id_can, fechahora]
Index: []