In [1]:
import pandas as pd
import sys
sys.path.append('../src')
import apilast as als
import sqltools as sqt
import cleansing as cln

In [2]:
l_user = 'AveKaesar'

In [3]:
julio = als.tot_scro(l_user)

recovering 86 pages
pag 5 done
pag 10 done
pag 15 done
pag 20 done
pag 25 done
pag 30 done
pag 35 done
pag 40 done
pag 45 done
pag 50 done
pag 55 done
pag 60 done
pag 65 done
pag 70 done
pag 75 done
pag 80 done
pag 85 done

In [4]:
julio.head(5)

,uts,artist,artist_mbid,album,album_mbid,title,track_mbid
0,1643207237,Sergio Dalma,7f8759ee-4ddc-4a6b-9d17-0771e1022db7,Cuerpo A Cuerpo,510b7075-c346-4859-a9a1-c19cb38e97e7,A Tu Lado,a0dc7cc0-bb7d-3bfb-a7b8-b5a4ef5f76eb
1,1643206969,Sergio Dalma,7f8759ee-4ddc-4a6b-9d17-0771e1022db7,Cuerpo A Cuerpo,510b7075-c346-4859-a9a1-c19cb38e97e7,Naufragos,2b6afe80-4a40-3195-826d-efac5686d29c
2,1643206714,Sergio Dalma,7f8759ee-4ddc-4a6b-9d17-0771e1022db7,Cuerpo A Cuerpo,510b7075-c346-4859-a9a1-c19cb38e97e7,No Voy A Volver A Llorar,3857c61a-315e-3483-9cd0-4326397494fa
3,1643206470,Sergio Dalma,7f8759ee-4ddc-4a6b-9d17-0771e1022db7,Cuerpo A Cuerpo,510b7075-c346-4859-a9a1-c19cb38e97e7,Si Tengo Que Morir,a72e26ec-8b9b-36f5-b556-55aea1f788aa
4,1643201327,Miss Kittin,af6bd973-3e30-4339-94b5-85b139362e6d,Two,,Party in My Head,

In [5]:
julio['fechahora'] = julio.uts.apply(cln.utslocal)

In [6]:
julio['fechahora'] = pd.to_datetime(julio['fechahora'])

In [7]:
julio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85037 entries, 0 to 85036
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   uts          85037 non-null  object
 1   artist       85037 non-null  object
 2   artist_mbid  85037 non-null  object
 3   album        85037 non-null  object
 4   album_mbid   85037 non-null  object
 5   title        85037 non-null  object
 6   track_mbid   85037 non-null  object
 7   fechahora    85037 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(7)
memory usage: 5.2+ MB

In [ ]:
julio.groupby['artist'].agg({})