In [38]:
import pandas as pd
import sys
sys.path.append('../src')
import apilast as als
import sqltools as sqt
import cleansing as cln
import os
import requests

In [ ]:
l_user = 'AveKaesar'

In [ ]:
julio = als.tot_scro(l_user)

In [ ]:
julio.head(5)

In [ ]:
julio['fechahora'] = julio.uts.apply(cln.utslocal)

In [ ]:
julio['fechahora'] = pd.to_datetime(julio['fechahora'])

In [ ]:
julio.info()

In [ ]:
julio.groupby['artist'].agg({})

In [2]:
l_user = 'sinatxester'

In [3]:
ester = als.tot_scro(l_user)

recovering 75 pages
pag 5 done
pag 10 done
pag 15 done
pag 20 done
pag 25 done
pag 30 done
pag 35 done
pag 40 done
pag 45 done
pag 50 done
pag 55 done
pag 60 done
pag 65 done
pag 70 done
pag 75 done

In [4]:
ester.to_csv('../output/sinatxestercompleto.csv',index=False)

In [5]:
l_user = 'jesteruki'

In [6]:
jesteruki = als.tot_scro(l_user)

recovering 95 pages
pag 5 done
pag 10 done
pag 15 done
pag 20 done
pag 25 done
pag 30 done
pag 35 done
pag 40 done
pag 45 done
pag 50 done
pag 55 done
pag 60 done
pag 65 done
pag 70 done
pag 75 done
pag 80 done
pag 85 done
pag 90 done
pag 95 done

In [7]:
jesteruki.to_csv('../output/jesterukicompleto.csv',index=False)

In [30]:
jesteruki.sample()

,uts,artist,artist_mbid,album,album_mbid,title,track_mbid
70838,1315250668,Crowded House,9854d99f-d954-4c0f-9ae5-58a0cdd885f5,Top 1000 Pop Hits of the 80's,,Don't Dream It's Over,006949c9-fe19-4073-bc7f-bb61831b72d5

In [66]:
total = pd.concat([ester,jesteruki])

In [67]:
total.sort_values('uts').head(5)

,uts,artist,artist_mbid,album,album_mbid,title,track_mbid
94723,1,HIM,,Greatest Love Songs Vol. 666,,(Don't Fear) The Reaper,218ad512-5c42-4b1c-9edc-492ffdc912a8
94714,10,Siniestro Total,,Gran 'D' Sexitos,,16 - Bailaré sobre tu tumba (directo),
94624,100,Ariel Rot,,"Dúos, tríos y otras perversiones",,Adios Mundo Cruel (Jaime Urrutia),
93724,1000,Jerry Lee Lewis,b59ac58d-036e-4bba-8112-c32a34c4575b,,,Great Balls of Fire,00957623-3bb3-36a9-890a-c4ae2b232dcd
93723,1001,Jarabe de Palo,38b511a2-76fa-4a1e-9b7a-e2a6efa6399b,¿Grandes éxitos?,554a491d-3403-4816-b135-622039894777,Grita,02073c50-eace-30fd-b4c8-6879afc705e7

In [68]:
total['fechahora'] = total.uts.apply(cln.utslocal)

In [69]:
total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 169351 entries, 0 to 94723
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   uts          169351 non-null  object
 1   artist       169351 non-null  object
 2   artist_mbid  169351 non-null  object
 3   album        169351 non-null  object
 4   album_mbid   169351 non-null  object
 5   title        169351 non-null  object
 6   track_mbid   169351 non-null  object
 7   fechahora    169351 non-null  object
dtypes: object(8)
memory usage: 11.6+ MB

In [70]:
total.uts = total.uts.astype('int64')
total.fechahora = pd.to_datetime(total.fechahora)

In [71]:
total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 169351 entries, 0 to 94723
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   uts          169351 non-null  int64
 1   artist       169351 non-null  object
 2   artist_mbid  169351 non-null  object
 3   album        169351 non-null  object
 4   album_mbid   169351 non-null  object
 5   title        169351 non-null  object
 6   track_mbid   169351 non-null  object
 7   fechahora    169351 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(6)
memory usage: 11.6+ MB

In [72]:
total.shape

(169351, 8)

In [73]:
dropeando = list(total[total['uts']<1270194492].index)
total.drop(dropeando,inplace =True)

In [74]:
total.shape

(166568, 8)

In [76]:
total.uts.value_counts().head(5)

1596816969    2
1644410584    1
1364931426    1
1364932865    1
1364932689    1
Name: uts, dtype: int64

In [77]:

#1596816969 repeat
total[total['uts'] == 1596816969]

,uts,artist,artist_mbid,album,album_mbid,title,track_mbid,fechahora
9999,1596816969,Rozalén,0432dc38-a03b-4325-9609-1caada06f47a,Cuando el Río Suena...,,La Que Baila Para Ti,fd877023-0274-46e6-8abe-b509dd51fc4c,2020-08-07 18:16:09
10000,1596816969,Rozalén,0432dc38-a03b-4325-9609-1caada06f47a,Cuando el Río Suena...,,La Que Baila Para Ti,fd877023-0274-46e6-8abe-b509dd51fc4c,2020-08-07 18:16:09

In [78]:
total.drop(10000, inplace = True)
total.shape

(166566, 8)

In [79]:
total.to_csv('../output/esteruki.csv',index=False)

In [ ]:
for i,r in total.iterrows():
    if r.uts not in