In [1]:
import requests
from dotenv import load_dotenv
load_dotenv()
import os
import pandas as pd
import sqlalchemy as alch
import numpy as np
import sys
sys.path.append('../src')
import apidiscogs as apd
import time

In [2]:
tokendis = os.getenv("discog")

In [3]:
passw = os.getenv("mysql")
dbName = "musicablecero"
connectionData = f"mysql+pymysql://root:{passw}@localhost/{dbName}"
engine = alch.create_engine(connectionData)

In [4]:
albums = pd.read_sql_query(f"""
                   
                    select a.artist,b.album,b.id_alb
                    from albums b left join artistas a on b.id_art = a.id_art
                    where b.album is not null and a.artist <> 'Varios Artistas';
                    """
                    , engine)

In [ ]:
#select a.artist,b.album,b.id_alb from albums b left join artistas a on b.id_art = a.id_art;

In [6]:
albums.head(10)

              artist                        album  id_alb
0    Siniestro Total                Made in Japan       1
1       Platero y tú         Hay Poco Rock & Roll       2
2         Pablo Ager         Durmiendo En Azoteas       3
3        Luis Ramiro        Castigado En El Cielo       4
4     Niños Mutantes                     Florecer       5
5  La Cabra Mecánica          Vestidos De Domingo       6
6     Joaquín Sabina       Nos Sobran Los Motivos       7
7     Jarabe de Palo                      Depende       8
8               Coti  Esta mañana y otros cuentos       9
9        Luis Ramiro          Dramas Y Caballeros      10

In [ ]:
# albumsprueba = albums.sample(20)

In [ ]:
# albumsprueba['art_url'] = albumsprueba.artist.replace(' ','+',regex=True)
# albumsprueba['alb_url'] = albumsprueba.album.replace(' ','+',regex=True)

In [ ]:
# lista = []
# for i,r in albumsprueba.iterrows():
#     dicc = {}
#     url = f'https://api.discogs.com/database/search?artist={r.art_url}&release_title={r.alb_url}&token={tokendis}'
#     req = requests.get(url).json()
#     if req['results'] == []:
        
#         dicc['id_alb'] = r.id_alb
#         dicc['gen'] = np.nan
#         dicc['genres'] = np.nan
#         dicc['subgenres'] = np.nan
#         lista.append(dicc)

#     else:
#         genero = req['results'][0]['genre']
#         subgenero = req['results'][0]['style']
#         dicc['id_alb'] = r.id_alb
#         dicc['gen'] = req['results'][0]['genre'][0]
#         dicc['genres'] = req['results'][0]['genre']
#         dicc['subgenres'] = req['results'][0]['style']
#         lista.append(dicc)

In [7]:
albums['art_url'] = albums.artist.replace(' ','+',regex=True)
albums['alb_url'] = albums.album.replace(' ','+',regex=True)

In [8]:
albums.head(5)

,artist,album,id_alb,art_url,alb_url
0,Siniestro Total,Made in Japan,1,Siniestro+Total,Made+in+Japan
1,Platero y tú,Hay Poco Rock & Roll,2,Platero+y+tú,Hay+Poco+Rock+&+Roll
2,Pablo Ager,Durmiendo En Azoteas,3,Pablo+Ager,Durmiendo+En+Azoteas
3,Luis Ramiro,Castigado En El Cielo,4,Luis+Ramiro,Castigado+En+El+Cielo
4,Niños Mutantes,Florecer,5,Niños+Mutantes,Florecer

In [9]:
albums.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4146 entries, 0 to 4145
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   artist   4146 non-null   object
 1   album    4146 non-null   object
 2   id_alb   4146 non-null   int64
 3   art_url  4146 non-null   object
 4   alb_url  4146 non-null   object
dtypes: int64(1), object(4)
memory usage: 162.1+ KB

In [10]:
albums.sample(5)

         artist            album  id_alb    art_url          alb_url
1215  Metallica              S&M    1262  Metallica              S&M
458      Dokken   Guitar Slinger     478     Dokken   Guitar+Slinger
676    Iggy Pop  American Caesar     706   Iggy+Pop  American+Caesar
327        Cher   Heart of Stone     341       Cher   Heart+of+Stone
4020     Zahara       Astronauta    4131     Zahara       Astronauta

In [11]:
#probando = apd.generosdiscog(albumsprueba,albumsprueba.art_url,albumsprueba.alb_url,albumsprueba.id_alb)
lista = []
a=0
for i,r in albums.iterrows():
    
    lista.append(apd.generosdiscog(r.art_url,r.alb_url,r.id_alb))
    time.sleep(1)

15:('The+Beatles', 'Rubber+Soul') hecho
30:('Mägo+de+Oz', 'Gaia') hecho
45:('Tontxu', 'En+El+Nombre+Del+Padre') hecho
60:('Bon+Jovi', 'Cross+Road') hecho
75:('Celia+Cruz', 'Mi+vida+es+un+cantar') hecho
90:('The+Bangles', 'Different+Light') hecho
105:('Gala', 'Come+into+my+life') hecho
120:('Rocky+Sharpe+&+The+Replays', 'Rama+Lama') hecho
135:('Van+Halen', 'Balance') hecho
150:('Celtas+Cortos', 'Tranquilo+majete') hecho
165:('Roxette', "Don't+Bore+Us+-+Get+To+The+Chorus!+(Roxette's+Greatest+Hits)") hecho
180:('George+Harrison', 'Cloud+Nine') hecho
195:('Nirvana', 'In+Utero') hecho

KeyboardInterrupt:

In [12]:
lista[0:10]

[{'id_alb': 1, 'gen': 'Rock', 'genres': 'Rock', 'subgenres': nan},
 {'id_alb': 2,
  'gen': 'Rock',
  'genres': 'Rock,Pop',
  'subgenres': 'Blues Rock,Rock & Roll,Pop Rock'},
 {'id_alb': 3, 'gen': nan, 'genres': nan, 'subgenres': nan},
 {'id_alb': 4, 'gen': nan, 'genres': nan, 'subgenres': nan},
 {'id_alb': 5, 'gen': 'Pop', 'genres': 'Pop', 'subgenres': nan},
 {'id_alb': 6,
  'gen': 'Rock',
  'genres': 'Rock,Latin,Pop',
  'subgenres': 'Pop Rock,Rumba,Cumbia'},
 {'id_alb': 7, 'gen': 'Rock', 'genres': 'Rock,Pop', 'subgenres': nan},
 {'id_alb': 8, 'gen': 'Pop', 'genres': 'Pop', 'subgenres': nan},
 {'id_alb': 9, 'gen': 'Pop', 'genres': 'Pop', 'subgenres': nan},
 {'id_alb': 10, 'gen': 'Rock', 'genres': 'Rock,Pop', 'subgenres': 'Pop Rock'}]

In [ ]:
generosdf = pd.DataFrame(lista)

In [ ]:
generosdf.to_csv('../output/generosdf.csv',index=False)

In [13]:
generosdf = pd.read_csv('../output/generosdf.csv')

In [14]:
generosdf.sample(5)

,id_alb,gen,genres,subgenres
1435,1493,Rock,Rock,"Rockabilly,Country Rock,Rock & Roll"
2242,2326,Electronic,"Electronic,Hip Hop,Rock,Reggae,Latin","Latin,Hip Hop,Ragga"
2909,3008,Rock,Rock,"Garage Rock,Lo-Fi"
3660,3767,Electronic,Electronic,Synth-pop
1977,2054,Reggae,"Reggae,Folk, World, & Country","Roots Reggae,African"

In [15]:
generosdf[generosdf['gen'] == 'error']

      id_alb    gen     genres subgenres
2980    3081  error  'results'     error
3394    3501  error  'results'     error

In [18]:
generosdf[(generosdf['gen'].isna()==False)&(generosdf['gen'] != 'error')]

,id_alb,gen,genres,subgenres
0,1,Rock,Rock,NaN
1,2,Rock,"Rock,Pop","Blues Rock,Rock & Roll,Pop Rock"
4,5,Pop,Pop,NaN
5,6,Rock,"Rock,Latin,Pop","Pop Rock,Rumba,Cumbia"
6,7,Rock,"Rock,Pop",NaN
...,...,...,...,...
4141,4275,Rock,"Rock,Folk, World, & Country","Folk Rock,Folk"
4142,4276,Rock,Rock,Folk Rock
4143,4278,Rock,Rock,"Classic Rock,Rock & Roll,Blues Rock"
4144,4279,Pop,Pop,Ballad
4145,4280,Electronic,"Electronic,Rock,Pop","New Wave,Pop Rock,Synth-pop"

In [16]:
selec = generosdf[(generosdf['gen'].isna()==False)&(generosdf['gen'] != 'error')]

In [17]:
selec.shape

(3805, 4)

In [19]:
albums.shape

(4146, 5)

In [ ]:
albums_genero = albums.merge(selec,how='left').drop(['art_url','alb_url'],axis=1)

In [ ]:
albums_genero.to_csv('../output/albums_genero.csv',index=False)

In [ ]:
albums_genero = albums.merge(selec).drop(['art_url','alb_url'],axis=1)

In [ ]:
albums_genero.head(5)

In [ ]:
albums_genero.artist.value_counts() > 1

In [ ]:
repes = (albums_genero.artist.value_counts())

In [ ]:
repes

In [ ]:
dicc = {}
for key,value in repes.items():
    dicc[key] = value

In [ ]:
albums_genero['rep_art'] = albums_genero.artist.map(dicc)

In [ ]:
albums_genero[albums_genero['rep_art']>1]

In [ ]:
albums_genero[albums_genero['artist'] == 'Siniestro Total']['gen'].value_counts().keys()[0] #genero

In [ ]:
albums_genero[albums_genero['artist'] == 'Siniestro Total']['gen'].value_counts().values[0] #cuenta

In [ ]:
artists_gem = albums_genero.groupby(['artist','gen']).agg({'id_alb':'count'}).reset_index().rename(columns={'id_alb':'total'})

In [ ]:
artists_gem.artist.value_counts()