In [1]:
import pandas as pd
import os
from os import walk
import tinytag
from tinytag import TinyTag
from os.path import join, getsize
import sqlalchemy as alch
import sys
sys.path.append('../src')
import apilast as als
import sqltools as sqt
import cleansing as cls
import dotenv
import os.path, time
import datetime

In [2]:
passw = os.getenv("mysql")
dbName = "musicablecero"
connectionData = f"mysql+pymysql://root:{passw}@localhost/{dbName}"
engine = alch.create_engine(connectionData)

```Python
 sqt.insert_newalb(r.Artist, r.Album, r.Title, r.Track, r.released, r.secs,
                      r.kbs, r.creado, r.folder, r.archivo,r.tipo, r.bitrate)
```

In [3]:
#primero cargar csv del album -> por ahora cargar nombre del archivo a mano... (o con last de la fila)
#comprobar si existe el artista (es unique en la bd)
    #si no exista que pida datos para introducirlo (no son datos que de el propio excel)
#comprobarsi existe el artista-album (si no existe el artista primero es difícil que exista)
#si existe el album -> introducir manualmente(por ahora)
#si no existe -> updates.

### Conseguir el archivo más reciente que tendrá los datos del nuevo album a insertar...

In [4]:
csvnewalbs = ('../../../Base de datos/00_musicablecero/New_album/')
#conseguir el archivo más nuevo de la lista de archivos csv en ensta carpeta
os.chdir(csvnewalbs)
reciente = sorted(filter(os.path.isfile, os.listdir('.')), key=os.path.getmtime)[-1] #último elemento de la lista es el archivo + reciente

In [5]:
ruta_archivo = csvnewalbs+reciente
ruta_archivo

'../../../Base de datos/00_musicablecero/New_album/rosat.csv'

In [6]:
new_alb = pd.read_csv(ruta_archivo,sep=';')

In [7]:
new_alb.head()

,Artist,Album,Title,Track,released,secs,kbs,creado,folder,archivo,tipo,bitrate,Unnamed: 12
0,Rosario la Tremendita,Delirium Tremens,Delirio Degradante / Mi Infierno Es Tu Gloria,1,2018,270,"10575,55",06/02/2022 15:41:23,"H:\Music\Flamenco, Fusión, Música del mundo, r...",01 Delirio Degradante Mi Infierno Es Tu Gloria...,mp3,320,NaN
1,Rosario la Tremendita,Delirium Tremens,Enemigo Que Huye,2,2018,322,"12603,04",06/02/2022 15:42:05,"H:\Music\Flamenco, Fusión, Música del mundo, r...",02 Enemigo Que Huye.mp3,mp3,320,NaN
2,Rosario la Tremendita,Delirium Tremens,La Ley De La Tierra,3,2018,159,"6242,84",06/02/2022 15:42:14,"H:\Music\Flamenco, Fusión, Música del mundo, r...",03 La Ley De La Tierra.mp3,mp3,320,NaN
3,Rosario la Tremendita,Delirium Tremens,Huyo Hacia El Amo,4,2018,324,"12688,76",06/02/2022 15:42:18,"H:\Music\Flamenco, Fusión, Música del mundo, r...",04 Huyo Hacia El Amo.mp3,mp3,320,NaN
4,Rosario la Tremendita,Delirium Tremens,Romance Del Silencio,5,2018,354,"13856,11",06/02/2022 15:42:27,"H:\Music\Flamenco, Fusión, Música del mundo, r...",05 Romance Del Silencio.mp3,mp3,320,NaN

In [8]:
new_alb.drop('Unnamed: 12',axis=1,inplace = True)

In [9]:
new_alb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Artist    13 non-null     object
 1   Album     13 non-null     object
 2   Title     13 non-null     object
 3   Track     13 non-null     int64
 4   released  13 non-null     int64
 5   secs      13 non-null     int64
 6   kbs       13 non-null     object
 7   creado    13 non-null     object
 8   folder    13 non-null     object
 9   archivo   13 non-null     object
 10  tipo      13 non-null     object
 11  bitrate   13 non-null     int64
dtypes: int64(4), object(8)
memory usage: 1.3+ KB

In [10]:
new_alb.kbs = new_alb.kbs.str.replace(',','.').astype('float')

In [11]:
new_alb.creado = pd.to_datetime(new_alb.creado)

In [12]:
new_alb.creado.info()

<class 'pandas.core.series.Series'>
RangeIndex: 13 entries, 0 to 12
Series name: creado
Non-Null Count  Dtype
--------------  -----
13 non-null     datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 232.0 bytes

In [14]:
new_artist =list(new_alb.Artist.unique())

In [15]:
#len new_artist no mayor de 1, si lo es otra operación
new_artist

['Rosario la Tremendita']

In [20]:
new_alb.columns

Index(['Artist', 'Album', 'Title', 'Track', 'released', 'secs', 'kbs',
       'creado', 'folder', 'archivo', 'tipo', 'bitrate'],
      dtype='object')

In [21]:
new_alb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Artist    13 non-null     object
 1   Album     13 non-null     object
 2   Title     13 non-null     object
 3   Track     13 non-null     int64
 4   released  13 non-null     int64
 5   secs      13 non-null     int64
 6   kbs       13 non-null     float64
 7   creado    13 non-null     datetime64[ns]
 8   folder    13 non-null     object
 9   archivo   13 non-null     object
 10  tipo      13 non-null     object
 11  bitrate   13 non-null     int64
dtypes: datetime64[ns](1), float64(1), int64(4), object(6)
memory usage: 1.3+ KB

In [23]:
for i, r in new_alb.iterrows():
    
    engine.execute(f'''

        INSERT INTO tag (artist, album, title, Track, released, secs, kbs,creado, folder, archivo, tipo, bitrate)
        VALUES ('{sqt.car_esp(r.Artist)}', '{sqt.car_esp(r.Album)}', '{sqt.car_esp(r.Title)}', {r.Track}, {r.released}, {r.secs}, {r.kbs},
               '{r.creado}', '{sqt.car_esp(r.folder)}', '{sqt.car_esp(r.archivo)}', '{r.tipo}', {r.bitrate})
                ''')

In [24]:
#si existe artista:
engine.execute(f'''
            update tag join artistas a on a.artist = tag.artist
            set tag.id_art = a.id_art 
            where a.artist = tag.artist and tag.id_Art is null;
        
        ''')

In [28]:
#si no existe album
engine.execute(f'''


            insert into albums (album, released, num_track, id_art)
            select album, released, max(track), id_art from tag where id_alb is null  group by album
            ;
        ''')

engine.execute(f'''

            update tag join albums a on a.album = tag.album
            set tag.id_alb = a.id_alb
            where a.album = tag.album and tag.id_Alb is null 
                and a.id_art = tag.id_art;
        ''')

In [29]:
#si no exisetn temas
engine.execute(f'''

    insert into temas (title, track, id_alb, id_art)
    select title, track, id_alb, id_art from tag where id_can is null;
        ''')


engine.execute(f'''

        update tag join temas t on t.title = tag.title
        set tag.id_Can = t.id_Can
        where t.id_Art = tag.id_art and t.id_alb = tag.id_alb and tag.id_Can is null;
        ''')

In [30]:
#update biblioteca

engine.execute(f'''

            insert into biblioteca (id_Can, secs, kbs, folder, archivo, creado, tipo, bitrate)
            select id_Can, secs, replace(kbs,',','.'), folder, archivo, creado, tipo, bitrate 
            from tag where id_bib is null;
        ''')


engine.execute(f'''

        update tag join biblioteca b on b.id_Can = tag.id_Can
        set tag.id_bib = b.id_bib
        where tag.id_bib is null
         ;
         
        ''')