In [154]:
import pandas as pd
import os
from os import walk
import tinytag
from tinytag import TinyTag
from os.path import join, getsize
import sqlalchemy as alch
import sys
sys.path.append('../src')
import apilast as als
import sqltools as sqt
import cleansing as cls
import dotenv
import os.path, time
import datetime

In [155]:
passw = os.getenv("mysql")
dbName = "musicablecero"
connectionData = f"mysql+pymysql://root:{passw}@localhost/{dbName}"
engine = alch.create_engine(connectionData)

```Python
 sqt.insert_newalb(r.Artist, r.Album, r.Title, r.Track, r.released, r.secs,
                      r.kbs, r.creado, r.folder, r.archivo,r.tipo, r.bitrate)
```

In [156]:
#primero cargar csv del album -> por ahora cargar nombre del archivo a mano... (o con last de la fila)
#comprobar si existe el artista (es unique en la bd)
    #si no exista que pida datos para introducirlo (no son datos que de el propio excel)
#comprobarsi existe el artista-album (si no existe el artista primero es difícil que exista)
#si existe el album -> introducir manualmente(por ahora)
#si no existe -> updates.

### Conseguir el archivo más reciente que tendrá los datos del nuevo album a insertar...

In [157]:
csvnewalbs = ('../../../Base de datos/00_musicablecero/New_album/')
#conseguir el archivo más nuevo de la lista de archivos csv en ensta carpeta
os.chdir(csvnewalbs)
reciente = sorted(filter(os.path.isfile, os.listdir('.')), key=os.path.getmtime)[-1] #último elemento de la lista es el archivo + reciente

In [158]:
ruta_archivo = csvnewalbs+reciente
ruta_archivo

'../../../Base de datos/00_musicablecero/New_album/ziga.csv'

In [159]:
new_alb = pd.read_csv(ruta_archivo,sep=';')

In [160]:
new_alb.head()

,Artist,Album,Title,Track,released,secs,kbs,creado,folder,archivo,tipo,bitrate,Unnamed: 12
0,Los Zigarros,A todo que sí,A todo que sí,1,2016,257,"10083,11",30/09/2016 3:46:57,"H:\Music\Rock Ibérico, punkarra y rock latino\...",01 A todo que sí.mp3,mp3,320,NaN
1,Los Zigarros,A todo que sí,Baila conmigo,2,2016,254,"9952,49",30/09/2016 3:47:10,"H:\Music\Rock Ibérico, punkarra y rock latino\...",02 Baila conmigo.mp3,mp3,320,NaN
2,Los Zigarros,A todo que sí,Dentro de la ley,3,2016,166,"6496,38",30/09/2016 3:47:22,"H:\Music\Rock Ibérico, punkarra y rock latino\...",03 Dentro de la ley.mp3,mp3,320,NaN
3,Los Zigarros,A todo que sí,¿Qué demonios hago yo aquí?,4,2016,238,"9335,17",30/09/2016 3:47:35,"H:\Music\Rock Ibérico, punkarra y rock latino\...",04 Qué demonios hago yo aquí.mp3,mp3,320,NaN
4,Los Zigarros,A todo que sí,Resaca,5,2016,145,"5702,48",30/09/2016 3:47:45,"H:\Music\Rock Ibérico, punkarra y rock latino\...",05 Resaca.mp3,mp3,320,NaN

In [161]:
new_alb.drop('Unnamed: 12',axis=1,inplace = True)

In [162]:
new_alb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Artist    11 non-null     object
 1   Album     11 non-null     object
 2   Title     11 non-null     object
 3   Track     11 non-null     int64
 4   released  11 non-null     int64
 5   secs      11 non-null     int64
 6   kbs       11 non-null     object
 7   creado    11 non-null     object
 8   folder    11 non-null     object
 9   archivo   11 non-null     object
 10  tipo      11 non-null     object
 11  bitrate   11 non-null     int64
dtypes: int64(4), object(8)
memory usage: 1.2+ KB

In [163]:
new_alb.kbs = new_alb.kbs.str.replace(',','.').astype('float')

In [164]:
new_alb.creado = pd.to_datetime(new_alb.creado)

In [165]:
new_alb.creado.info()

<class 'pandas.core.series.Series'>
RangeIndex: 11 entries, 0 to 10
Series name: creado
Non-Null Count  Dtype
--------------  -----
11 non-null     datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 216.0 bytes

In [166]:
new_artist =list(new_alb.Artist.unique())

In [167]:
#len new_artist no mayor de 1, si lo es otra operación
new_artist

['Los Zigarros']

In [168]:
new_alb.columns

Index(['Artist', 'Album', 'Title', 'Track', 'released', 'secs', 'kbs',
       'creado', 'folder', 'archivo', 'tipo', 'bitrate'],
      dtype='object')

In [169]:
new_alb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Artist    11 non-null     object
 1   Album     11 non-null     object
 2   Title     11 non-null     object
 3   Track     11 non-null     int64
 4   released  11 non-null     int64
 5   secs      11 non-null     int64
 6   kbs       11 non-null     float64
 7   creado    11 non-null     datetime64[ns]
 8   folder    11 non-null     object
 9   archivo   11 non-null     object
 10  tipo      11 non-null     object
 11  bitrate   11 non-null     int64
dtypes: datetime64[ns](1), float64(1), int64(4), object(6)
memory usage: 1.2+ KB

In [170]:
for i, r in new_alb.iterrows():
    
    engine.execute(f'''

        INSERT INTO tag (artist, album, title, Track, released, secs, kbs,creado, folder, archivo, tipo, bitrate)
        VALUES ('{sqt.car_esp(r.Artist)}', '{sqt.car_esp(r.Album)}', '{sqt.car_esp(r.Title)}', {r.Track}, {r.released}, {r.secs}, {r.kbs},
               '{r.creado}', '{sqt.car_esp(r.folder)}', '{sqt.car_esp(r.archivo)}', '{r.tipo}', {r.bitrate})
                ''')

In [171]:
#comprobar si existe artista
art_ = list(new_alb.Artist.unique())[0]

In [172]:
art_

'Los Zigarros'

In [173]:
sqt.checkart(art_)

True

In [149]:
# sex_ = 'fem' 
# gen_ = 'Folktrónica'
# band_= 'b'
# pais_= 'España'

In [56]:
#si no existe
sqt.insert_newart(art_,sex_,gen_,band_,pais_)

'Tanxugueiras insertado'

In [174]:
#si existe artista:
engine.execute(f'''
            update tag join artistas a on a.artist = tag.artist
            set tag.id_art = a.id_art 
            where a.artist = tag.artist and tag.id_Art is null;
        
        ''')

In [175]:
#si no existe album
engine.execute(f'''


            insert into albums (album, released, num_track, id_art)
            select album, released, max(track), id_art from tag where id_alb is null  group by album
            ;
        ''')

engine.execute(f'''

            update tag join albums a on a.album = tag.album
            set tag.id_alb = a.id_alb
            where a.album = tag.album and tag.id_Alb is null 
                and a.id_art = tag.id_art;
        ''')

In [176]:
#si no exisetn temas
engine.execute(f'''

    insert into temas (title, track, id_alb, id_art)
    select title, track, id_alb, id_art from tag where id_can is null;
        ''')


engine.execute(f'''

        update tag join temas t on t.title = tag.title
        set tag.id_Can = t.id_Can
        where t.id_Art = tag.id_art and t.id_alb = tag.id_alb and tag.id_Can is null;
        ''')

In [177]:
#update biblioteca

engine.execute(f'''

            insert into biblioteca (id_Can, secs, kbs, folder, archivo, creado, tipo, bitrate)
            select id_Can, secs, replace(kbs,',','.'), folder, archivo, creado, tipo, bitrate 
            from tag where id_bib is null;
        ''')


engine.execute(f'''

        update tag join biblioteca b on b.id_Can = tag.id_Can
        set tag.id_bib = b.id_bib
        where tag.id_bib is null
         ;
         
        ''')