In [1]:
import pandas as pd
import sqlalchemy as alch
import os
import dotenv
dotenv.load_dotenv()
import requests
from pymongo import MongoClient
import pymongo
import time

In [2]:
passw = os.getenv("mysql")
dbName = "musicablecero"
connectionData = f"mysql+pymysql://root:{passw}@localhost/{dbName}"
engine = alch.create_engine(connectionData)

In [3]:
client = MongoClient("localhost:27017")
disc = client.get_database("discogs")
prueba = disc.get_collection('zzprueba')

In [4]:
prueba

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'discogs'), 'zzprueba')

In [5]:
tokendis = os.getenv("discog")

In [6]:
art_alb = pd.read_sql_query(f'''
        select alb.id_alb, a.artist, alb.album, sc.album_mbid
        from albums alb join  artistas a on alb.id_art = a.id_art
        join temas t on t.id_alb = alb.id_alb
        join scrobbling sc on sc.id_can = t.id_can
        where alb.album is not null
        and a.artist <> 'Varios Artistas'
        group by artist, id_alb
        ;
                    ''',engine)

In [7]:
art_alb.head()

,id_alb,artist,album,album_mbid
0,1,Siniestro Total,Made in Japan,265d5c8a-3879-45b8-94c1-3fc44da449e8
1,2,Platero y tú,Hay Poco Rock & Roll,
2,3,Pablo Ager,Durmiendo En Azoteas,
3,4,Luis Ramiro,Castigado En El Cielo,
4,5,Niños Mutantes,Florecer,

In [8]:
art_alb.shape

(4069, 4)

In [9]:
# art_alb.id_alb.value_counts()

In [10]:
alb_samp = art_alb.sample(20)

In [11]:
luisra = art_alb[art_alb.artist.str.lower() == 'luis ramiro']

In [12]:
luisra.head()

     id_alb       artist                  album album_mbid
3         4  Luis Ramiro  Castigado En El Cielo
9        10  Luis Ramiro    Dramas Y Caballeros
237     246  Luis Ramiro        Por no molestar
245     254  Luis Ramiro      Rodeado de genios
247     256  Luis Ramiro               Inéditas

## keys de los diccionarios del search artist,album in discogs
```python
#pagination
{'page': 1, 'pages': 1, 'per_page': 50, 'items': 0, 'urls': {}}
```
- si items = 0, la lista de results está vacía.

```python
#results (No todos aparecen en el diccionario)
keylist = ['country', 'year', 'format', 'label', 'type', 'genre', 'style', 'id', 'barcode', 'user_data', 'master_id', 'master_url', 'uri', 'catno', 'title', 'thumb', 'cover_image', 'resource_url', 'community', 'format_quantity', 'formats']
```

## endpoint de discogs (search)
```python
urlalb = f'https://api.discogs.com/database/search?type=release&artist={r.artist}&release_title={r.album}&token={tokendis}'
```

In [13]:
art_alb.sample()

      id_alb    artist         album album_mbid
1143    1191  Lonestar  Crazy Nights

In [14]:
art_alb.id_alb.value_counts().head()

1       1
2813    1
2800    1
2801    1
2802    1
Name: id_alb, dtype: int64

In [24]:
busqueda = []

In [107]:

# for i,r in art_alb[:1000].iterrows():
#     time.sleep(1.1)
#     dicc = {}
#     dicc['id_alb'] = r.id_alb
#     urlalb = f'https://api.discogs.com/database/search?type=release&artist={r.artist}&release_title={r.album}&token={tokendis}'
#     reqalb = requests.get(urlalb).json()
#     if reqalb['pagination']['items'] > 0:
#         dicc['country'] = reqalb['results'][0].get('country','desconocido')
#         dicc['year'] = reqalb['results'][0].get('year','000')
#         dicc['genre'] = reqalb['results'][0].get('genre','desconocido')
#         dicc['style'] = reqalb['results'][0].get('style','desconocido')
#         dicc['id'] = reqalb['results'][0].get('id',0)
#         dicc['resource_url'] = reqalb['results'][0].get('resource_url','url_desconocida')
#     busqueda.append(dicc)

In [ ]:
for i,r in art_alb.iterrows():
    time.sleep(1.1)    
    urlalb = f'https://api.discogs.com/database/search?type=release&artist={r.artist}&release_title={r.album}&token={tokendis}'
    reqalb = requests.get(urlalb).json()
    if reqalb['pagination']['items'] > 0:
        alb = reqalb['results'][0]
        generismo = ' / '.join(alb.get('genre','desconocido'))
        stylismo = ' / '.join(alb.get('style','desconocido'))
        engine.execute(f'''
            INSERT INTO gen_discog (id_alb, country, year_date, genre, style, id, resource_url,lindex)
            VALUES ({int(r.id_alb)},
                    '{alb.get('country','desconocido')}',
                    {alb.get('year',0)},
                    '{generismo}',
                    '{stylismo}',
                    {alb.get('id',0)},
                    '{alb.get('resource_url','url_desconocida')}',
                    {reqalb['results'].index(alb)}
                    );
            ''')  

        if i%30 == 0:
            print(f'{i}: {r.artist}-{r.album} & anteriores DONE')

0: Siniestro Total-Made in Japan & anteriores DONE

In [49]:

for i,r in art_alb[500:600].iterrows():
    time.sleep(1)    
    urlalb = f'https://api.discogs.com/database/search?type=release&artist={r.artist}&release_title={r.album}&token={tokendis}'
    reqalb = requests.get(urlalb).json()
    if reqalb['pagination']['items'] > 0:
        alb = reqalb['results'][0]           
        dicc = {}
        dicc['id_alb'] = int(r.id_alb)
        dicc['country'] = alb.get('country','desconocido')
        dicc['year'] = alb.get('year','000')
        dicc['genre'] = alb.get('genre','desconocido')
        dicc['style'] = alb.get('style','desconocido')
        dicc['id'] = alb.get('id',0)
        dicc['resource_url'] = alb.get('resource_url','url_desconocida')
        busqueda.append(dicc)
        if i%10 == 0:
            print(f'{i}: {r.artist}-{r.album} & anteriores DONE')

500: Seguridad Social-Clásicos del Futuro & anteriores DONE
510: Trío Los Panchos-Todo Panchos & anteriores DONE
520: Koma-Koma & anteriores DONE
530: Seguridad Social-De amor & anteriores DONE
540: Chayanne-Grandes Éxitos & anteriores DONE
550: Kaiser Chiefs-Employment & anteriores DONE
560: Jonny Lang-Lie to Me & anteriores DONE
570: Danza Invisible-En Equilibrio & anteriores DONE
580: Savatage-Edge of Thorns & anteriores DONE
590: Harry Nilsson-Midnight Cowboy & anteriores DONE

In [50]:
pd.DataFrame(busqueda)

,id_alb,country,year,genre,style,id,resource_url
0,1,Spain,1993,[Rock],[],10599360,https://api.discogs.com/releases/10599360
1,2,Spain,2014,[Rock],"[Rock & Roll, Hard Rock, Pop Rock]",6215529,https://api.discogs.com/releases/6215529
2,5,Spain,2000,[Pop],[],9027954,https://api.discogs.com/releases/9027954
3,6,Spain,2001,"[Rock, Latin, Pop]","[Pop Rock, Rumba, Cumbia]",5471009,https://api.discogs.com/releases/5471009
4,7,Spain,2004,"[Rock, Pop]",[],10759991,https://api.discogs.com/releases/10759991
...,...,...,...,...,...,...,...
552,624,Argentina,1998,"[Pop, Folk, World, & Country]",[],13638569,https://api.discogs.com/releases/13638569
553,625,UK,2010,"[Rock, Pop]","[Folk Rock, Pop Rock]",2165346,https://api.discogs.com/releases/2165346
554,626,Germany,1982,[Electronic],"[New Wave, Synth-pop]",15798689,https://api.discogs.com/releases/15798689
555,627,Brazil,2007,[Latin],[Samba],7412709,https://api.discogs.com/releases/7412709
556,628,Mexico,2009,"[Latin, Pop]",[Ballad],20020819,https://api.discogs.com/releases/20020819

In [51]:
resultados = pd.DataFrame(busqueda)

In [52]:
resultados.id_alb.value_counts().head()

1      1
417    1
411    1
412    1
413    1
Name: id_alb, dtype: int64

In [53]:
resultados.tail()

,id_alb,country,year,genre,style,id,resource_url
552,624,Argentina,1998,"[Pop, Folk, World, & Country]",[],13638569,https://api.discogs.com/releases/13638569
553,625,UK,2010,"[Rock, Pop]","[Folk Rock, Pop Rock]",2165346,https://api.discogs.com/releases/2165346
554,626,Germany,1982,[Electronic],"[New Wave, Synth-pop]",15798689,https://api.discogs.com/releases/15798689
555,627,Brazil,2007,[Latin],[Samba],7412709,https://api.discogs.com/releases/7412709
556,628,Mexico,2009,"[Latin, Pop]",[Ballad],20020819,https://api.discogs.com/releases/20020819

In [229]:
list(resultados.columns)

['id_alb', 'country', 'year', 'genre', 'style', 'id', 'resource_url']

In [230]:
resultados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1120 entries, 0 to 1119
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id_alb        1120 non-null   int64
 1   country       1036 non-null   object
 2   year          1036 non-null   object
 3   genre         1036 non-null   object
 4   style         1036 non-null   object
 5   id            1036 non-null   float64
 6   resource_url  1036 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 61.4+ KB

In [231]:
resultados.genre.fillna('Desconocido',inplace = True)
resultados['style'].fillna('Desconocido',inplace = True)

In [232]:
def stringinglist(lista):   
    for val in lista:
        if type(val) == list:
            print(' - '.join(val))
        else:
            return  val

In [233]:
resultados.genre = resultados.genre.apply(stringinglist)
resultados['style'] = resultados['style'].apply(stringinglist)

In [234]:
resultados.genre.value_counts()

Rock                      650
Electronic                137
D                          84
Pop                        77
Latin                      55
Folk, World, & Country     40
Funk / Soul                25
Hip Hop                    23
Jazz                       16
Reggae                      8
Blues                       4
Classical                   1
Name: genre, dtype: int64

In [235]:
resultados[resultados.genre == 'D' ].sample(5)

     id_alb country year genre style  id resource_url
576     478     NaN  NaN     D     D NaN          NaN
122       3     NaN  NaN     D     D NaN          NaN
820     733     NaN  NaN     D     D NaN          NaN
357     246     NaN  NaN     D     D NaN          NaN
590     496     NaN  NaN     D     D NaN          NaN

In [236]:
resultados.id.fillna(0,inplace = True)
resultados.genre.fillna('Desconocido',inplace = True)
resultados['style'].fillna('Desconocido',inplace = True)

In [237]:
resultados.isna().sum()

id_alb           0
country         84
year            84
genre            0
style            0
id               0
resource_url    84
dtype: int64

In [238]:
resultados.country.fillna('Desconocido',inplace = True)
resultados.year.fillna(0,inplace = True)
resultados.resource_url.fillna('Desconocido',inplace = True)

In [239]:
resultados.id_alb.value_counts()

1       2
63      2
92      2
91      2
90      2
       ..
435     1
436     1
437     1
438     1
1040    1
Name: id_alb, Length: 1000, dtype: int64

In [240]:
for i,r in resultados.iterrows():
    
    engine.execute(f'''
            INSERT INTO gen_alb (id_alb, country, year_date, genre, style, id, resource_url)
            VALUES ({r.id_alb},'{r.country}',{r.year}, '{r.genre}','{r.style}',{r.id},'{r.resource_url}');
            ''')

In [242]:
resultados.id_alb.value_counts() > 1

1        True
63       True
92       True
91       True
90       True
        ...
435     False
436     False
437     False
438     False
1040    False
Name: id_alb, Length: 1000, dtype: bool