In [1]:
import pandas as pd
import seaborn as sns
import sqlalchemy as alch
import os
import dotenv
dotenv.load_dotenv()
import time
import numpy as np
import calendar

In [2]:
# El mantra de las visualizaciones
from matplotlib import pyplot as plt
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
%matplotlib inline
%config Inlinebackend.figure_format = 'retina'

import seaborn as sns
sns.set_context('poster')
sns.set(rc={'figure.figsize': (20.,7.)})
sns.set_style('whitegrid')
import plotly.express as px
import plotly.graph_objects as go

In [3]:
# conexión a mysql
passw = os.getenv("mysql")
dbName = "musicablecero"
connectionData = f"mysql+pymysql://root:{passw}@localhost/{dbName}"
engine = alch.create_engine(connectionData)

# creación reproducciones por género

In [16]:
# creación de dataframe con las reproducciones totales por año, mes, día, día de la semana y horas del día y géneros.

#media reproducciones
media_secs = int(list(engine.execute(f'''
select round(avg(secs)) from biblioteca where id_can in (select distinct id_Can from scrobbling);'''))[0][0])

generos_res = pd.read_sql_query(f'''

    Select ifnull(al.genero ,'sin_clasif') as gen_alb, ar.genero as genero,year(sc.fechahora) as anual, month(sc.fechahora) as meses,day(sc.fechahora) as dia, hour(sc.fechahora) as horas,
    weekday(sc.fechahora) as diasem, weekofyear(sc.fechahora) as semana, count(sc.id_can) as total, sum(ifnull(bib.secs, 235)) as secs
    from scrobbling sc left join biblioteca bib on bib.id_can = sc.id_can
    left join temas t on t.id_can = sc.id_can
    left join artistas ar on ar.id_art = t.id_art
    left join albums al on al.id_alb = t.id_alb
    group by gen_alb, genero, anual, meses, dia, diasem, horas
    order by gen_alb, genero, anual, meses, dia, horas;

''',engine)

In [17]:
media_secs

235

In [18]:
generos_res.head()

  gen_alb     genero  anual  meses  dia  horas  diasem  semana  total    secs
0   Blues  cantautor   2014      3   18     21       1      12      2   470.0
1   Blues  cantautor   2014      3   18     22       1      12     12  2820.0
2   Blues    country   2016      4    5     19       1      14      1   380.0
3   Blues    country   2016      4    5     20       1      14     10  3508.0
4   Blues    country   2016      4    5     21       1      14      3  1288.0

In [19]:
len(generos_res.gen_alb.unique()) #115 generos #15 gen_alb

15